﻿@using Susoft.Model;
@using Susoft.CMS.Common;
@model IList<Susoft.Model.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWithProject.cshtml";
}
@{var lang = ViewContext.RouteData.Values["lang"] as string;
}
@section MainMenu{
    @{Html.RenderAction("GetMainMenu", "Common");}
}

@section BreaCumb{
    <div class="col-md-12">
        <div class="page-title-content">
            <h2 class="page-title">@Resources.GlobalRes.ProjectBreacumb</h2>
            <span class="sub-title">@Resources.GlobalRes.ReadProjectSubTitle</span>
        </div>
        <div class="bread-cumb">
            @if (lang == null || lang.Contains("en"))
            {
                <ul>
                    <li><a href="/en/home">@Resources.GlobalRes.Home</a></li>
                    <li><a href="/en/project">@Resources.GlobalRes.Project</a></li>
                </ul>
            }
            else if (lang.Equals("vi"))
            {
                <ul>
                    <li><a href="/vi/home">@Resources.GlobalRes.Home</a></li>
                    <li><a href="/vi/project">@Resources.GlobalRes.Project</a></li>
                </ul>
            }
            else
            {
                <ul>
                    <li><a href="/vi/home">@Resources.GlobalRes.Home</a></li>
                    <li><a href="/vi/project">@Resources.GlobalRes.Project</a></li>
                </ul>
            }
        </div>
        <!-- /.END OF BREAD CUMB -->
    </div>
}
<!-- What We Area
    =========================== -->
<section class="works-area pb-130">
    <div class="container">
        <div class="row">
            @foreach (Products item in Model)
            {
          <!-- Single Work -->
                <div class="col-sm-3 col-sm-6">
                    <div class="single-work text-center sin-project">
                        <a class="work-thumb mb-35" href="@Url.Action("Details","Project",new {id=item.Id })">
                            <img src="@Utitlitys.ImagePath(item.ImageTitle,(int)CMS_IMAGE_TYPE.PRODUCT_TYPE)" style="height:240px; width:240px" alt="">
                            <div class="work-hover"></div>
                        </a>
                        <div class="work-excerp">
                            <a href="@Url.Action("Details","Project",new {id=item.Id })">
                                @if (lang == null || lang.Contains("en"))
                                {
                                    <h2>@item.Name_EN</h2>
                                }
                                else if (lang.Equals("vi"))
                                {
                                    <h2>@item.Name</h2>
                                }
                                else
                                {
                                    <h2>@item.Name_JP</h2>
                                }
                            </a>
                            <p>@Utitlitys.PlatformToString(item.Platform.Value)</p>
                        </div>
                    </div>
                </div>
            <!-- /. End Of Single Work -->
            }
        </div>
    </div>
</section>
<!-- /.End Of What We Do Area -->
