﻿
@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MainMenu{
    @{Html.RenderAction("GetMainMenu", "Common");}
}
@{var lang = ViewContext.RouteData.Values["lang"] as string;
}

<!-- PAGE TITLE Area
    =========================== -->
<section class="page-title fix">
    <div class="container bb-bottom">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-content">
                    <h2 class="page-title">@Resources.GlobalRes.Profile</h2>

                </div>
                <div class="bread-cumb">
                        @if (lang == null || lang.Contains("en"))
                        {
                            <ul>
                                <li><a href="/en/home">@Resources.GlobalRes.Home</a></li>
                                <li><a href="/en/Quote">@Resources.GlobalRes.Quote</a></li>
                            </ul>
                        }
                        else if (lang.Equals("vi"))
                        {
                            <ul>
                                <li><a href="/vi/home">@Resources.GlobalRes.Home</a></li>
                                <li><a href="/vi/Quote">@Resources.GlobalRes.Quote</a></li>
                            </ul>
                        }
                        else
                        {
                            <ul>
                                <li><a href="/vi/home">@Resources.GlobalRes.Home</a></li>
                                <li><a href="/vi/Quote">@Resources.GlobalRes.Quote</a></li>
                            </ul>
                        }
                    </div>
                <!-- /.END OF BREAD CUMB -->
            </div>
        </div>
    </div>
</section>
<!--  -->
<div class="upper-page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5><a href="@Url.Content("~/Content/susoft.docx")">Profile</a></h5>
            </div>
        </div>
    </div>
</div>

<!-- Contact Area
  =========================== -->
<div class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form action="contact.php">
                        <div class="contact-form">
                            <div class="single-form">
                                <div class="sin-input">
                                    <input type="text" name="username" placeholder="@Resources.GlobalRes.YourName">
                                </div>
                                <div class="sin-input">
                                    <input type="email" name="useremail" placeholder="@Resources.GlobalRes.EmailAddress">
                                </div>
                            </div>
                            <div class="single-form">
                                <div class="sin-input">
                                    <input type="text" name="usernumber" placeholder="@Resources.GlobalRes.PhoneNumber">
                                </div>
                                <div class="sin-input select-box">
                                    <select name="usercountry">
                                        <option value="">@Resources.GlobalRes.Country</option>
                                        <option value="1">Bangladesh</option>
                                        <option value="2">Usa</option>
                                        <option value="3">England</option>
                                        <option value="3">Australia</option>
                                    </select>
                                </div>
                            </div>
                            <div class="single-form">
                                <div class="sin-input select-box select-topic">
                                    <select name="topic">
                                        <option value="">@Resources.GlobalRes.SelectProject</option>
                                        <option value="1">Web</option>
                                        <option value="2">App</option>
                                        <option value="3">IOS</option>
                                        <option value="3">Android</option>
                                    </select>
                                </div>
                            </div>
                            <div class="single-form text-area">
                                <textarea name="message" rows="4" placeholder="@Resources.GlobalRes.TypeYourMessage"></textarea>
                                <input type="submit" value="@Resources.GlobalRes.SendUsMessage">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="quote-thumb">
                        <img src="/img/quote-thumb.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /.End Of Contact Area -->*@
