﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MainMenu{
    @{Html.RenderAction("GetMainMenu", "Common");}
}
@{
    var lang = ViewContext.RouteData.Values["lang"] as string;
}
@{
    ViewBag.Title = "Sent";
}
<style type="text/css">
    .map_company {
        padding: 10px 100px;
    }
    .alert-danger{
        background-color: #e3f2de;
        border-color:#e3f2de;
    }
</style>
<!-- PAGE TITLE Area
  =========================== -->
<section class="page-title fix">
    <div class="container bb-bottom">
        <div class="row">
            <div class="col-md-12">
                <div class="
                     page-title-content">
                    <h2 class="page-title">@Resources.GlobalRes.ContactUs</h2>
                    <span class="sub-title">@Resources.GlobalRes.ContactSubTitle2</span>
                </div>
                <div class="bread-cumb">
                    @if (lang == null || lang.Contains("en"))
                    {
                        <ul>
                            <li><a href="/en/home">@Resources.GlobalRes.Home</a></li>
                            <li><a href="/en/contact  ">@Resources.GlobalRes.Contact</a></li>
                        </ul>
                    }
                    else if (lang.Equals("vi"))
                    {
                        <ul>
                            <li><a href="/vi/home">@Resources.GlobalRes.Home</a></li>
                            <li><a href="/vi/contact">@Resources.GlobalRes.Contact</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul>
                            <li><a href="/vi/home">@Resources.GlobalRes.Home</a></li>
                            <li><a href="/vi/contact">@Resources.GlobalRes.Contact</a></li>
                        </ul>
                    }
                </div>
                <!-- /.END OF BREAD CUMB -->
            </div>
        </div>
    </div>
</section>
<!--  -->
<div class="upper-page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>@Resources.GlobalRes.ContactStatus</p>
            </div>
        </div>
    </div>
</div>

<!-- Contact Area
  =========================== -->
<section class="contact-area fix">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("SendContact", "Contact", FormMethod.Post, new { id = "ajax-contact" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-md-6">
                    <div class="contact-form">
                        @if (TempData["Message"] != null)
                        {
                            <script type="text/javascript">$("#divProcessing").hide();</script>
                            <div id="divResult" class="alert alert-danger alert-dismissable fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong style="font-size:33px">@TempData["Message"]</strong>
                            </div>
                        }
                        <div class="single-form">
                            <div class="sin-input" style="margin-bottom: 15px; width: 96%; margin-left: 15px">
                                <input id="name" type="text" name="name" placeholder="@Resources.GlobalRes.YourName">
                            </div>
                            <div class="sin-input" style="margin-bottom: 15px; width: 96%; margin-left: 15px">
                                <input id="email" type="email" name="email" placeholder="@Resources.GlobalRes.EmailAddress">
                            </div>
                        </div>
                        <div class="single-form">
                            <div class="sin-input" style="margin-bottom: 15px; width: 96%; margin-left: 15px">
                                <input type="text" id="phoneNo" name="phoneNo" placeholder="@Resources.GlobalRes.PhoneNumber">
                            </div>
                        </div>
                        <div class="single-form contactSubmit text-area">
                            <textarea id="contactMsg" name="contactMsg" rows="4" placeholder="@Resources.GlobalRes.TypeYourMessage"></textarea>
                            <input type="submit" id="submit" name="submit" value="@Resources.GlobalRes.SendUsMessage">
                        </div>
                    </div>
                    <div id="form-messages"></div>
                </div>
                <div id="divProcessing" style="height:1200px;width :100%;text-align:center;
                     background:#f5f5f5;
                     opacity:0.5;
                     z-index:999;
                     position:absolute;
                     left:0px;
                     top :0px;
                     cursor: wait; display:none">
                </div>
            }

            <div class="col-md-6">
                <div class="contact-info">
                    <div class="single-info phone-number">
                        <h4>@Resources.GlobalRes.CallUS</h4>
                        <p class="info">@Resources.GlobalRes.USA: <span> 024 39148999 </span></p>
                        <p class="info">@Resources.GlobalRes.NONUSA: <span> 0934518629 - 0981518988 </span></p>
                    </div>
                    <div class="single-info useremail-add">
                        <h4>EMAIL</h4>
                        <p class="info">@Resources.GlobalRes.ProductSupport: <span>info@mobileplus.vn</span></p>
                        <p class="info">@Resources.GlobalRes.CustomerSupport: <span>info@mobileplus.vn</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GOOGLE MAP -->
    <div id="googleMap2" class="map_company">

        <p>@Resources.GlobalRes.Map</p>
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3723.621225401771!2d105.79793294902059!3d21.047836504270222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1453011294580" width="475" height="396" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d930.9744056200688!2d105.758092!3d21.036782!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1457018602844" width="100%" height="396" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
</section>
<!-- /.End Of Contact Area -->
<script>
    $('#btnnapthe').click(function () {
        var bCheck = true;
        if (bCheck == false) {
            return false;
        }
        else {
            $("#divProcessing").show();
            return true;
        }
    });
</script>