﻿@using Susoft.CMS.Common
@model Susoft.Model.Products

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
<style>
    .divimage {
        width: 100px;
        height: 100px;
    }

        .divimage img {
            display: block;
            width: 100%;
        }
</style>   

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dự án</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên dự án
        </dt>    
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Tên tiếng Anh
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name_EN)
        </dd>

        <dt>
            Tên tiếng Nhật
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name_JP)
        </dd>

        <dt>
            Ảnh tiêu đề
        </dt>
        <dd>
            <div class="divimage">
                <img src="@Utitlitys.ImagePath(Model.ImageTitle,(int)CMS_IMAGE_TYPE.PRODUCT_TYPE)" />
            </div>
        </dd>

        <dt>
            Nền tảng
        </dt>
        <dd>
            @Utitlitys.PlatformToString(Model.Platform.Value)
        </dd>

        <dt>
            Ngày kết thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishedDate)
        </dd>

        @*<dt>
            Ảnh1
        </dt>

        <dd>
            <div class="divimage">
                <img src="@Utitlitys.ImagePath(Model.ImagePath1,(int)CMS_IMAGE_TYPE.PRODUCT_TYPE)" />
            </div>
        </dd>

        <dt>
            Ảnh 2
        </dt>

        <dd>
            <div class="divimage">
                <img src="@Utitlitys.ImagePath(Model.ImagePath2,(int)CMS_IMAGE_TYPE.PRODUCT_TYPE)" />
            </div>
        </dd>

        <dt>
            Ảnh 3
        </dt>

        <dd>
            <div class="divimage">
                <img src="@Utitlitys.ImagePath(Model.ImagePath3,(int)CMS_IMAGE_TYPE.PRODUCT_TYPE)" />
            </div>
        </dd>

        <dt>
            Ảnh 4
        </dt>

        <dd>
            <div class="divimage">
                <img src="@Utitlitys.ImagePath(Model.ImagePath4,(int)CMS_IMAGE_TYPE.PRODUCT_TYPE)" />
            </div>
        </dd>

        <dt>
            Ảnh 5
        </dt>

        <dd>
            <div class="divimage">
                <img src="@Utitlitys.ImagePath(Model.ImagePath5,(int)CMS_IMAGE_TYPE.PRODUCT_TYPE)" />
            </div>
        </dd>*@

        <dt>
            Mô tả bài viết
        </dt>
        <dd>
            @Html.Raw(Server.HtmlDecode(Model.Description))
        </dd>

        <dt>
            Mô tả tiếng Anh
        </dt>
        <dd>
            @Html.Raw(Server.HtmlDecode(Model.Description_EN))
        </dd>

        <dt>
            Mô tả tiếng Nhật
        </dt>
        <dd>
            @Html.Raw(Server.HtmlDecode(Model.Description_JP))
        </dd>

        <dt>
            Chi tiết bài viết
        </dt>
        <dd>
            @Html.Raw(Server.HtmlDecode(Model.Summary))
        </dd>

        <dt>
            Chi tiết tiếng Anh
        </dt>
        <dd>
            @Html.Raw(Server.HtmlDecode(Model.Summary_EN))
        </dd>

        <dt>
            Chi tiết tiếng Nhật
        </dt>
        <dd>
            @Html.Raw(Server.HtmlDecode(Model.Summary_JP))
        </dd>

        <dt>
            Kiểu
        </dt>
        <dd>
            @Utitlitys.ProductTypeToString(Model.Type.Value)
        </dd>

        <dt>
            Trạng thái
        </dt>
        <dd>
            @Utitlitys.StatusToString(Model.Status.Value)
        </dd>

        <dt>
            Người đăng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            Ngày đăng
        </dt>
        <dd>
            @Utitlitys.DatetimeToVN(Model.CreatedAt.Value)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
