﻿@using Susoft.CMS.Models
@model ProductViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
@section HeaderScript{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <link href="~/Content/Bootstrap.min.css" rel="stylesheet" />
}

<h2>Sửa thông tin</h2>


@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreate" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Dự án</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.productInfo.Id)

        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Tên dự án</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productInfo.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productInfo.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Tên tiếng Anh</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productInfo.Name_EN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productInfo.Name_EN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Tên tiếng Nhật</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productInfo.Name_JP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productInfo.Name_JP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ImageTitle">Ảnh tiêu đề</label>
            <div class="col-md-10">
                <input type="file" name="files" id="files" style="width: 100%;" /><br>
                <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Platform">Nền tảng</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.productInfo.Platform,(SelectList)ViewBag.Platform, new { @class = "form-control", @style = "witdth:150px;" })
                @Html.ValidationMessageFor(model => model.productInfo.Platform, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            <label class="control-label col-md-2" for="ImagePath1">Ảnh 1</label>
            <div class="col-md-10">
                <input type="file" name="files1" id="files" style="width: 100%;" /><br>
                <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ImagePath2">Ảnh 2</label>
            <div class="col-md-10">
                <input type="file" name="files2" id="files" style="width: 100%;" /><br>
                <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ImagePath3">Ảnh 3</label>
            <div class="col-md-10">
                <input type="file" name="files3" id="files" style="width: 100%;" /><br>
                <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ImagePath4">Ảnh 4</label>
            <div class="col-md-10">
                <input type="file" name="files4" id="files" style="width: 100%;" /><br>
                <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ImagePath5">Ảnh 5</label>
            <div class="col-md-10">
                <input type="file" name="files5" id="files" style="width: 100%;" /><br>
                <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2" for="Description">Mô tả bài viết</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @id = "Description" })
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace('Description', {
                        filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                        filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                        filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                        filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Description_EN">Mô tả tiếng Anh</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description_EN, new { @id = "Description_EN" })
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace('Description_EN', {
                        filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                        filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                        filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                        filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Description_JP">Mô tả tiếng Nhật</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description_JP, new { @id = "Description_JP" })
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace('Description_JP', {
                        filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                        filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                        filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                        filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Linh liên kết</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productInfo.URL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productInfo.URL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Type">Kiểu</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.productInfo.Type, (SelectList)ViewBag.ProductType, new { @class = "form-control", @style = "witdth:150px;" })
                @Html.ValidationMessageFor(model => model.productInfo.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Status">Trạng thái</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.productInfo.Status, (SelectList)ViewBag.Status, new { @class = "form-control", @style = "witdth:150px;" })
                @Html.ValidationMessageFor(model => model.productInfo.Status, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $('#frmCreate').on('submit', function () {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    });
</script>