﻿@using Susoft.CMS.Common;
@model IEnumerable<Susoft.Model.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
<style>
    .divimage {
        width: 100px;
        height: 100px;
    }

        .divimage img {
            display: block;
            width: 100%;
        }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Tên dự án
        </th>
        <th>
            Ảnh tiêu đề
        </th>
        <th>
           Nền tảng
        </th>
        <th>
            Mô tả dự án
        </th>
        <th>
            Link liên kết
        </th>
        <th>
            Kiểu
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Người tạo
        </th>
        <th>
            Ngày tạo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="width:250px">
            <a href="@Url.Action("Details", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        <td>
            <div class="divimage">
                <img src="@Utitlitys.ImagePath(item.ImageTitle,(int)CMS_IMAGE_TYPE.PRODUCT_TYPE)" />
            </div>
        </td>
        <td>
            @Utitlitys.PlatformToString(item.Platform.Value)
        </td>
        @*<td>
            <div class="divimage">
                <img src="@Utitlitys.ImagePath(item.ImagePath1,(int)CMS_IMAGE_TYPE.ARTICLE_TYPE)" />
            </div>
        </td>*@
        <td>
            @*@Server.HtmlDecode(item.Description)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Utitlitys.ProductTypeToString(item.Type.Value)
        </td>
        <td style="white-space:nowrap">
            @Utitlitys.StatusToString(item.Status.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @item.CreatedAt
        </td>
        <td style="white-space:nowrap">
            <a href='@Url.Action("Details", "Products",new { id = item.Id })'><img src="~/img/icons/application_view_detail.png" title="Chi tiết" /></a> |
            <a href='@Url.Action("Edit", "Products", new { id = item.Id })'><img src="~/img/icons/page_white_edit.png" title="Cập nhật" /></a> |
            <a href='@Url.Action("Delete", "Products",new { id = item.Id })'><img src="~/img/icons/bin_closed.png" title="Xóa thông tin" /></a>
        </td>
    </tr>
}

</table>
