/*-------------------------------------------------------------------------------------
Theme Name:	Business
Theme URI: 	http://themeextra.com
Version:	1.0
Author: ThemeExtra
-------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
[TABLE OF CONTENTS]

	00. RESET
	01. BUTTON
	02. HEADER
	03. STICKY HEADER

-------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/


/*	00. RESET
/*-----------------------------------------------------------------------------------*/

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid;
}

img {
    max-width: 100%;
    height: auto;
}

.fix {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    /*font-family: 'Poppins', sans-serif;*/
    color: #222;
}

html {
    font-size: 14px;
}

body {
    /*font-family: 'Poppins', sans-serif;*/
    line-height: 30px;
    color: #535557;
    font-weight: 300;
}

a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}

    a:hover {
        text-decoration: none;
        color: #222;
    }


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

*:before,
*:after {
    box-sizing: border-box;
}

:focus {
    outline: none !important;
}

figure {
    margin: 0;
    padding: 0;
}

    figure img {
        max-width: 100%;
    }

::-moz-selection {
    background: #d4eaf5;
    /* Safari */
    color: #2f2f2f;
}

::selection {
    background: #d4eaf5;
    /* Safari */
    color: #2f2f2f;
}

::-moz-selection {
    background: #d4eaf5;
    /* Firefox */
    color: #2f2f2f;
}

ul.nav.navbar-nav li a:hover,
ul.nav.navbar-nav li a:focus {
    background: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mb-70 {
    /*margin-bottom: 70px;*/
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-65 {
    margin-bottom: 65px;
}

.pb-140 {
    padding-bottom: 80px;
}

.pb-100 {
    padding-bottom: 100px;
}

.mb-35 {
    margin-bottom: 35px;
}

.pb-130 {
    padding-bottom: 130px;
}

.foo-padding {
    padding: 28px 0 30px;
}

.plr-10 {
    padding: 0 10px;
}

.bb-top {
    border-top: 1px solid #323232;
}

.bb-bottom {
    border-bottom: 1px solid #ececec;
}

.section-padding {
    padding: 80px 0;
}

.overlay {
    position: relative;
    z-index: 1;
}

    .overlay:after {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        background: #222222;
        opacity: .95;
        filter: alpha(opacity=95);
        z-index: -1;
    }

strong {
    color: #535557;
}

a.link-out {
    color: #f8cf27;
}

    a.link-out:hover {
        text-decoration: underline;
        ;
    }

.section-title h2,
.cta-text > h2 {
    font-family: 'uni_sansheavy_caps';
}

.section-title h2 {
    font-size: 34px;
    margin: 0;
}


/*-----------------------------------------------------------------------------------*/


/*	01. BUTTON
/*-----------------------------------------------------------------------------------*/

.quote-btn:hover {
    color: #EBC219;
}

.quote-btn {
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    position: absolute;
    right: 0;
    top: 0;
}

.button {
    background: #222222 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    padding: 20px 40px;
    text-transform: uppercase;
}

.button-cta {
    margin-bottom: 50px;
    margin-top: 64px;
    overflow: hidden;
    padding: 18px 60px 14px;
    position: relative;
    z-index: 1;
}

.quote-btn:hover,
.button.button-cta:hover {
    color: #fff;
}

.button-hover {
    overflow: hidden;
    z-index: 1;
}

    .button-hover:after {
        background: #EBC219 none repeat scroll 0 0;
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 40%;
        opacity: 0;
        filter: alpha(opacity=0);
        position: absolute;
        top: 10%;
        -webkit-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
        visibility: hidden;
        width: 40px;
        z-index: -1;
    }

.button-cta:hover {
    color: #fff;
}

.button-hover:hover:after {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(6.5);
    -ms-transform: scale(6.5);
    transform: scale(6.5);
}


/*-----------------------------------------------------------------------------------*/


/*	02. HEADER AREA
/*-----------------------------------------------------------------------------------*/

.head-top-area {
    padding: 2.714em 0;
}

.info-area {
    background: #fafafa none repeat scroll 0 0;
}

.info-text p {
    font-weight: 300;
}

.sin-info {
    float: left;
    width: 211px;
    position: relative;
}

    .sin-info span,
    .sin-info a {
        font-weight: 500;
    }

    .sin-info:before {
        background: #ededed repeat scroll 0 0;
        content: "";
        height: 25px;
        position: absolute;
        right: 20%;
        top: 8px;
        width: 1px;
        left: 200px;
    }

.info-icon {
    color: #f8cf27;
    float: left;
    font-size: 20px;
    line-height: 41px;
}

.info-content {
    color: #777777;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    padding-left: 40px;
}

    .info-content a {
        color: #777777;
        line-height: 20px;
    }

    .info-content > a {
        color: #777777;
        display: block;
    }

.sin-info.border-none:before {
    display: none;
    font-size: 11px;
    font-size: 0.857rem;
    font-weight: 300;
    line-height: 20px;
}

.search-form input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}

.search-form {
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    color: #c5c5c5;
}

    .search-form input[type="text"] {
        float: left;
        line-height: 30px;
        width: 80%;
        padding: 7px 0 7px 15px;
        font-size: 12px;
        color: #c5c5c5;
    }

    .search-form input[type="submit"] {
        float: left;
        line-height: 43px;
        position: relative;
        text-indent: -1e+11px;
        width: 20%;
        z-index: 9999;
    }

.input-submit {
    position: relative;
    font-size: 12px;
}

    .input-submit:after {
        content: "\edef";
        font-family: "icofont";
        height: 100%;
        line-height: 43px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 20%;
    }

.head-bottom-area {
    background: #f8cf27 none repeat scroll 0 0;
    z-index: 999999 !important;
}

.sticky {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}

.sticky-mob {
    position: fixed !important;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}

.mainmenu-area {
    position: relative;
}

    .mainmenu-area ul.nav.navbar-nav li a {
        color: #ffffff;
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        padding: 22px 22px 18px;
        text-transform: uppercase;
    }

        .mainmenu-area ul.nav.navbar-nav li a:hover,
        .mainmenu-area ul.nav.navbar-nav li.active {
            background: #ebc219;
        }

    .mainmenu-area ul.nav.navbar-nav li {
        display: inline-block;
        float: none;
    }

.sticker {
    background: #ebc219;
    z-index: 999999 !important;
}


/* */


/*-----------------------------------------------------------------------------------*/


/*	03.DropDown Menu Css
/*-----------------------------------------------------------------------------------*/

ul.nav.navbar-nav li ul {
    left: 0;
    position: absolute;
    top: 200%;
    width: 330px;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .3s ease-in-out, top .3s ease-in-out;
    transition: opacity .3s ease-in-out, top .3s ease-in-out;
}

ul.nav.navbar-nav li:hover ul {
    top: 100%;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}

.mainmenu-area ul.nav.navbar-nav li ul li {
    border-bottom: 1px solid #3a3a3a;
    display: block;
    position: relative;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

    .mainmenu-area ul.nav.navbar-nav li ul li:hover:after {
        width: 100%;
    }

    .mainmenu-area ul.nav.navbar-nav li ul li a {
        background: #222 none repeat scroll 0 0;
        color: #fff;
        width: 100%;
    }

    .mainmenu-area ul.nav.navbar-nav li ul li:last-child:after {
        display: none;
    }

    .mainmenu-area ul.nav.navbar-nav li ul li:last-child {
        border: 0px solid;
    }

    .mainmenu-area ul.nav.navbar-nav li ul li a:hover {
        background: #191919 none repeat scroll 0 0;
        color: #f8cf27;
    }

    .mainmenu-area ul.nav.navbar-nav li ul li:after {
        background: #f8cf27 none repeat scroll 0 0;
        bottom: -1px;
        content: "";
        height: 1px;
        position: absolute;
        right: 0;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        width: 0;
    }

.mainmenu-area ul.nav.navbar-nav li a i {
    margin-left: 7px;
    position: relative;
    top: -1px;
}


/*-----------------------------------------------------------------------------------*/


/*	04. SLIDER
/*-----------------------------------------------------------------------------------*/

.slider-area {
    height: 660px;
    position: relative;
}

.slider-text.overlay:after {
    opacity: 0;
    filter: alpha(opacity=0);
}

.slider-text h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-shadow: 1px 3px 8px rgba(0, 0, 0, 0.17);
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

    .slider-text h1 span {
        color: #f8cf27;
    }

.slider-text p {
    color: #ffffff;
    font-size: 16px;
}

.img-fill {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
}

    .img-fill img {
        height: 100%;
        min-width: 100%;
        position: relative;
        display: inline-block;
        max-width: none;
    }

.blocks-box,
.slick-slider {
    margin: 0;
    padding: 0 !important;
}

.slick-slide {
    float: left /* If RTL Make This Right */
    ;
    padding: 0;
}

.Modern-Slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

    .Modern-Slider .item .img-fill {
        background: #000;
    }

        .Modern-Slider .item .img-fill .slider-text {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            text-align: center;
        }

.tb {
    display: table;
    height: 100%;
    width: 100%;
}

.tbc {
    padding-top: 195px;
}

.Modern-Slider .NextArrow {
    left: 15px;
    margin-top: -22.5px;
    top: 50%;
}

    .Modern-Slider .NextArrow:before {
        content: '\eb61';
    }

.Modern-Slider .PrevArrow,
.Modern-Slider .NextArrow {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #ffffff;
    font-family: "icofont";
    font-size: 16px;
    height: 29px;
    position: absolute;
    text-align: center;
    width: 29px;
    z-index: 5;
    padding: 0px;
    line-height: 29px;
}

.Modern-Slider .PrevArrow {
    left: 15px;
    margin-top: -58px;
    top: 50%;
}

    .Modern-Slider .PrevArrow:before {
        content: '\eb5e';
    }

    .Modern-Slider .PrevArrow:hover,
    .Modern-Slider .NextArrow:hover {
        background: #f8cf27;
        border: #fff;
    }

.Modern-Slider .slick-dots li button {
    display: none;
}

.Modern-Slider .item.slick-active h1 {
    -webkit-animation: fadeInDown 1s both 1s;
    animation: fadeInDown 1s both 1s;
}

.Modern-Slider .item.slick-active p {
    -webkit-animation: fadeInLeft 1s both 1.5s;
    animation: fadeInLeft 1s both 1.5s;
}

.slider-text p {
    line-height: 28px;
}

.slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

    .slick-list:focus {
        outline: none;
    }

    .slick-list.dragging {
        cursor: hand;
    }

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
}

    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }

    .slick-track:after {
        clear: both;
    }

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left; /* If RTL Make This Right */
    height: 785;
    min-height: 1px;
}

    .slick-slide.dragging img {
        pointer-events: none;
    }

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}


/*-----------------------------------------------------------------------------------*/


/*	05. ABOUT
/*-----------------------------------------------------------------------------------*/

.about-left h2 {
    color: #666666;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.about-left > h2 > strong {
    color: #222222;
    font-weight: 600;
}

.about-thumb figcaption {
    color: #535557;
    font-size: 12px;
    font-style: italic;
    line-height: 22px;
    margin-top: 35px;
    font-weight: 300;
    text-align: center;
}

.about-quote {
    padding-bottom: 64px;
    padding-top: 64px;
}

blockquote {
    border-left: 0 dashed;
    color: #535557;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0 0 0 80px;
    position: relative;
}

    blockquote:after {
        border-left: 1px dashed;
        content: "";
        height: 75%;
        left: 0;
        position: absolute;
        top: 15%;
        width: 1px;
    }


/*-----------------------------------------------------------------------------------*/


/*	06. FACTS
/*-----------------------------------------------------------------------------------*/

.facts-area {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.counter {
    color: #ffffff;
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 24px;
}

.count-badge {
    color: #ffffff;
    font-size: 18px;
    margin: 0;
}

.sin-fact {
    float: left;
    margin: 0 17px;
    width: 17%;
}

    .sin-fact > span {
        color: #fff;
        display: inline-block;
        font-size: 60px;
        font-weight: 700;
    }

.facts-wrap {
    margin: 0 -17px;
    padding-top: 90px;
}

.fact-quote > blockquote {
    color: #ffffff;
}

.facts-headding > h2 {
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
}

.facts-headding h2 > strong {
    color: #f8cf27;
}


/*-----------------------------------------------------------------------------------*/


/*	07. Works
/*-----------------------------------------------------------------------------------*/

.work-excerp {
    color: #535557;
    font-weight: 300;
}

.work-thumb,
.news-thumb {
    display: block;
    position: relative;
    overflow: hidden;
}

.work-excerp h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #222222;
}

.single-work {
    margin-top: 75px;
}

.work-thumb .works-hover:hover,
.news-thumb:hover {
    cursor: url("img/plus.png"), auto;
}

.work-thumb .works-hover,
.sin-news .news-hover {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 3px 0;
    position: absolute;
    text-align: center;
    top: 0;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    width: 100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
}

.work-thumb:hover .works-hover,
.news-thumb:hover .news-hover {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.3s linear 0s;
    transition: opacity 0.3s linear 0s;
}


/*-----------------------------------------------------------------------------------*/


/*	08. INFO
/*-----------------------------------------------------------------------------------*/

.large-thumb {
    float: left;
    margin-right: 12px;
    width: 66%;
}

    .large-thumb img {
        width: 100%;
    }

.small-thumbs > img {
    margin-bottom: 12px;
}

.small-thumbs {
    float: right;
    overflow: hidden;
    width: 31.8%;
}

.info-text {
    padding-top: 50.5px;
    padding-bottom: 50.5px;
}

.small-thumbs > img:last-child {
    margin: 0;
}

.info-area div.info-text {
    color: #535557;
    margin-left: 30px;
}

    .info-area div.info-text h2 {
        font-size: 25px;
    }


/*-----------------------------------------------------------------------------------*/


/*	09. CALL TO ACTION
/*-----------------------------------------------------------------------------------*/

.cta-area {
    background: #f8cf27;
}

.cta-text h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
}

.cta-text span {
    color: #ffffff;
    font-weight: 300;
}

.cta-text {
    padding: 60px 0 50px;
}

.cta-right {
    text-align: right;
    ;
}


/*-----------------------------------------------------------------------------------*/


/*	10. TESTIMONIAL
/*-----------------------------------------------------------------------------------*/

.tesimonial-area {
    border-bottom: 1px solid #e3e3e3;
}

.sin-tesimonial {
    color: #535557;
    font-style: italic;
}

.cliet-bio > h2 {
    font-size: 16px;
    font-style: normal;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.client-pos {
    color: #bdbdbd;
    font-size: 12px;
}

.quote {
    display: block;
    margin-bottom: 20px;
    font-weight: 300;
}

.cliet-bio {
    font-style: normal;
}

.sin-tesimonial {
    padding: 10px 0 10px 50px;
    position: relative;
    font-size: 13px;
}

    .sin-tesimonial:after {
        color: #e5e5e5;
        content: "“";
        font-size: 85px;
        font-style: normal;
        left: 15px;
        position: absolute;
        top: 37px;
    }


/*-----------------------------------------------------------------------------------*/


/*	11. NEWS
/*-----------------------------------------------------------------------------------*/

.latestNews-area {
    padding-top: 80px;
}

.news-excerpt h2 {
    font-size: 18px;
    margin-bottom: 7px;
}

.news-date {
    color: #535557;
    font-size: 12px;
    font-weight: 300;
}


/*-----------------------------------------------------------------------------------*/


/*	12. FOOTER
/*-----------------------------------------------------------------------------------*/

#footer-area {
    background: #222222 none repeat scroll 0 0;
}

.widget {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
}

.footer-logo {
    margin-bottom: 25px;
}

.widget-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}

.site_map_links {
    margin-right: 38px;
}

.widget.widget_links > ul {
    float: left;
}

.widget {
    color: #fff;
}

.contact-btn {
    background: #f8cf27 none repeat scroll 0 0;
    color: #222222;
    font-size: 10px;
    margin: 0;
    padding: 10px 20px 7px;
    font-weight: 700;
}

.widget ul li a {
    color: #ffffff;
}

    .widget ul li a:hover {
        color: #f8cf27;
        text-decoration: underline;
    }

.page-links {
    padding-left: 38px;
    position: relative;
}

    .page-links:after {
        background: #383838 none repeat scroll 0 0;
        content: "";
        height: 80%;
        left: 0;
        position: absolute;
        top: 10%;
        width: 1px;
    }

.widget_links ul li a {
    font-weight: 600;
}

.input-email > input {
    background: transparent none repeat scroll 0 0;
    border: medium none transparent;
    color: #c5c5c5;
    font-weight: 300;
}

.input-email {
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 8px 15px;
    position: relative;
}

    .input-email i {
        font-size: 22px;
        line-height: 46px;
        position: absolute;
        right: 14px;
        top: 0;
    }

.footer-newsletter > input[type="submit"] {
    background: #f8cf27 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #222;
    font-weight: 700;
    padding: 12px 30px 7px;
    text-transform: uppercase;
}

.social-links ul li {
    display: inline-block;
    margin-left: 15px;
}

    .social-links ul li a {
        color: #a4a4a4;
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
    }

        .social-links ul li a:hover {
            color: #f8cf27;
        }

.footer-bottom {
    color: #8c8c8c;
    font-size: 10px;
}

.copyright {
    word-spacing: 1px;
}


/*-----------------------------------------------------------------------------------*/


/*	13. About Page Css
/*-----------------------------------------------------------------------------------*/

.page-title-content {
    float: left;
}

.bread-cumb {
    float: right;
}

.page-title-content {
    padding-bottom: 30px;
    padding-top: 50px;
}

.page-title {
    margin: 0;
}

.sub-title {
    color: #535557;
    font-size: 12px;
}

.bread-cumb > ul {
    padding-bottom: 54px;
    padding-top: 60px;
}

.bread-cumb ul li {
    display: inline-block;
    padding-left: 20px;
    position: relative;
}

.bread-cumb > ul li a {
    color: #535557;
    font-size: 12px;
    font-weight: 300;
}

.bread-cumb ul li:after {
    color: #999;
    content: "/";
    font-size: 12px;
    left: 10%;
    line-height: 32px;
    position: absolute;
    top: 0;
}

.bread-cumb ul li:first-child:after {
    display: none;
}


/*-----------------------------------------------------------------------------------*/


/*	14.About Gallery
/*-----------------------------------------------------------------------------------*/

.about-content {
    color: #535557;
    padding: 21px 0 9px;
}

.about-gallery-posts {
    padding: 60px 0 28px;
}

    .about-gallery-posts .owl-dot {
        background: #fff none repeat scroll 0 0;
        border-radius: 50%;
        display: inline-block;
        height: 9px;
        margin: 0 2.5px;
        width: 9px;
    }

    .about-gallery-posts .owl-dots {
        bottom: 0;
        position: absolute;
        right: 12px;
        -webkit-transition: .3s;
        transition: .3s;
    }

    .about-gallery-posts .owl-dot.active {
        background: #f8cf27;
    }


/*-----------------------------------------------------------------------------------*/


/*	15.What We Do Area
/*-----------------------------------------------------------------------------------*/

.sin-whatWork {
    line-height: 28px;
    border: 1px solid #e9e9e9;
    padding: 25px 20px 20px;
    position: relative;
}

    .sin-whatWork h2 {
        font-size: 18px;
    }

    .sin-whatWork:after {
        background: #f8cf27 none repeat scroll 0 0;
        content: "";
        height: 30px;
        left: -2px;
        position: absolute;
        top: 19px;
        width: 3px;
    }


/*-----------------------------------------------------------------------------------*/


/*	16.Our Team Area
/*-----------------------------------------------------------------------------------*/

.our-team-area {
    background: url("img/team-bg.jpg") no-repeat scroll 0 0 / cover;
}

    .our-team-area.overlay:after {
        opacity: .96;
        filter: alpha(opacity=96);
    }

.section-title.white h2 {
    color: #fff;
}

.member-photo {
    float: left;
    margin-right: 25px;
}

.member-bio {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 125px;
}

    .member-bio h2 {
        color: #ffffff;
        font-size: 18px;
        margin-bottom: 5px;
    }

.member-pos {
    color: #535557;
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
}


/*-----------------------------------------------------------------------------------*/


/*	16.Services Page Css
/*-----------------------------------------------------------------------------------*/


/* --------------------
Widgets Css
-------------------- */

.page-internal-content {
    padding: 62px 0 128px;
}

.sidebar .widget ul.widget_links {
    background: rgba(0, 0, 0, 0) url("img/widget-bg.jpg") repeat scroll 0 0/cover;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.sidebar ul.widget_links:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(34, 34, 34, 0.9);
    z-index: -1;
}

.sidebar .widget_links li {
    padding: 21px;
    position: relative;
}

    .sidebar .widget_links li:after {
        background: #4c4c4c none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 1px;
        left: 8%;
        position: absolute;
        width: 80%;
    }

    .sidebar .widget_links li:last-child:after {
        display: none;
    }

.sidebar .widget ul li a {
    color: #ffffff;
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}

    .sidebar .widget ul li a:hover {
        text-decoration: none;
        color: #f8cf27;
    }

    .sidebar .widget ul li a i {
        margin-right: 5px;
    }

.sidebar .widget {
    background: #222;
    margin-bottom: 30px;
}

.sidebar .sin-testimonial {
    font-style: italic;
    line-height: 28px;
    padding: 28px 21px 30px;
    position: relative;
    font-weight: 300;
}

    .sidebar .sin-testimonial p {
        margin: 0 0 25px;
    }

.sidebar .client-name {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

.sidebar .sin-testimonial .quote-icon {
    color: #f8cf27;
    float: left;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    height: 0;
    margin-right: 5px;
    margin-top: 19px;
    z-index: -1;
}

.service-post-title {
    font-size: 20px;
    margin-bottom: 25px;
}

.sin-service-post {
    font-weight: 300;
    margin-bottom: 50px;
}

    .sin-service-post p {
        padding-right: 20px;
    }

ul.degins li {
    color: #222222;
    float: left;
    font-weight: 700;
    line-height: 20px;
    padding-left: 20px;
    position: relative;
    text-transform: uppercase;
    width: 121px;
}

    ul.degins li:after {
        background: #f8cf27 none repeat scroll 0 0;
        content: "";
        height: 60%;
        left: 0;
        position: absolute;
        top: 20%;
        width: 3px;
    }

ul.degins {
    display: block;
    margin: 37px 0 72px;
    overflow: hidden;
}


/*FAQ*/

dl.accordion dt {
    background: #f6f6f6 none repeat scroll 0 0;
    color: #222222;
    font-size: 14px;
    line-height: 50px;
    margin: 5px 0px 0px;
    padding-left: 35px;
    position: relative;
    cursor: pointer;
}

dl.accordion dd {
    background: #efefef none repeat scroll 0 0;
    color: #222222;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    padding: 16px;
}

dl.accordion dt:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40px;
    content: "\f105";
    font-family: fontawesome;
    text-align: center;
    ;
    line-height: 50px;
}

dl.accordion dt.active:after {
    content: "\f107";
}

.faq-section h3 + p {
    margin-bottom: 35px;
}

dl.accordion {
    height: 270px;
    margin: 0;
}

.upper-page-content p {
    font-weight: 300;
    margin: 0;
    padding-top: 60px;
}

.sin-service-post img,
.faq-thumb img {
    width: 100%;
}


/*-----------------------------------------------------------------------------------*/


/*	17.Pricing Page Css
/*-----------------------------------------------------------------------------------*/

.sin-pricing-table {
    background: #222222 none repeat scroll 0 0;
    padding: 35px 0;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
}

.pricing-head span.price {
    color: #ffffff;
    display: block;
    font-size: 36px;
    font-weight: 700;
    -webkit-transition: .3s;
    transition: .3s;
}

.pricing-head span {
    color: #999;
    font-size: 12px;
}

.pricing-head {
    padding-bottom: 25px;
}

.pricing-status {
    background: #171717 none repeat scroll 0 0;
    text-transform: uppercase;
}

    .pricing-status h4 {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        margin: 0;
        padding: 14px 0 12px;
    }

.pricing-body ul li {
    color: #b3b3b3;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 1px;
}

.pricing-body {
    padding: 30px 0;
}

a.pricing-btn {
    background: #f8cf27 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 11px 30px;
    text-transform: uppercase;
}

.sin-pricing-table.active {
    background: #f8cf27 none repeat scroll 0 0;
}

    .sin-pricing-table.active .pricing-head > span,
    .sin-pricing-table.active ul li {
        color: #fff;
    }

    .sin-pricing-table.active .pricing-status {
        background: #e8bf18 none repeat scroll 0 0;
    }

    .sin-pricing-table.active .pricing-btn {
        background: #222222 none repeat scroll 0 0;
    }


/*-----------------------------------------------------------------------------------*/


/*	18. Contact Form
/*-----------------------------------------------------------------------------------*/

.contact-form input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: block;
    height: 100%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    line-height: 50px;
    padding: 0 21px;
    width: 100%;
}

.sin-input {
    float: left;
    margin-left: 15px;
    width: 47%;
    margin-bottom: 15px;
}

.contact-form input,
.contact-form select {
    height: 55px;
}

.contact-form {
    margin-left: -15px;
    padding-right: 20px;
}

.select-box select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    padding: 12px 18px;
    width: 100%;
}

.select-box {
    position: relative;
}

    .select-box:after {
        content: "\f0d7";
        color: #989898;
        font-family: fontawesome;
        font-size: 14px;
        height: 100%;
        line-height: 54px;
        position: absolute;
        right: 18px;
        top: 0;
    }

.single-form.text-area {
    margin: 0 5px 0 16px;
}

.single-form input[type="submit"] {
    background: #f8cf27 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    padding: 5px 35px;
    text-transform: uppercase;
    width: inherit;
}

.contact-area {
    padding: 55px 0 130px;
}

.info {
    color: #222222;
    font-size: 14px;
    text-transform: uppercase;
}

    .info > span {
        float: right;
        font-weight: 700;
    }

.single-info.phone-number {
    width: 210px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.single-info.useremail-add {
    text-align: left;
    width: 355px;
}

.single-info.phone-number > h4 {
    font-size: 20px;
    text-transform: uppercase;
}

.contact-info {
    padding-left: 50px;
    position: relative;
}

    .contact-info:after {
        background: #f2f2f2 none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 1px;
    }

.sin-input > select {
    color: #989898;
    font-weight: 300;
}

    .sin-input > select > option {
        font-weight: 300;
    }

div.mail_success {
    color: #ffffff;
    background: #2ECC71;
    padding: 5px 10px;
    margin-top: 15px;
}

div.mail_error {
    color: #ffffff;
    background: #EF4836;
    padding: 5px 10px;
    margin-top: 15px;
}

/* Google Map */

#googleMap2 {
    width: 100%;
    height: 540px;
}


/*-----------------------------------------------------------------------------------*/


/*	19. Quote Page Css
/*-----------------------------------------------------------------------------------*/

.sin-input.select-box.select-topic {
    margin-bottom: 15px;
    width: 96.8%;
}


/*-----------------------------------------------------------------------------------*/


/*	20.Projects Versions
/*-----------------------------------------------------------------------------------*/


/* Version One */

.work-excerp .project-title {
    margin-bottom: 5px;
}

.single-work.sin-project {
    margin-top: 50px;
}

.page-title.project-page-title {
    padding-bottom: 15px;
}


/* Version Two */

.work-thumb img {
    width: 100%;
}


/*-----------------------------------------------------------------------------------*/


/*	21.News Versions Css
/*-----------------------------------------------------------------------------------*/


/* Version One */

.single-work.sin-news {
    margin-top: 0;
    margin-bottom: 46px;
}

    .single-work.sin-news .work-excerp h2 {
        font-size: 16px;
        margin-bottom: 5px;
    }


/* Widget Search */

.widget_search input {
    background: transparent;
    border: 0px transparent;
}

    .widget_search input[type="text"] {
        width: calc(100% - 48px);
        line-height: 22px;
    }

    .widget_search input[type="submit"] {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        text-indent: -999999999px;
        z-index: 9999;
        position: relative;
    }

.search-form-input {
    padding: 15px 3px 15px 20px;
}

.widget_search .input-submit {
    display: inline-block;
    width: 44px;
}

    .widget_search .input-submit:after {
        height: 100%;
        line-height: 30px;
        width: 100%;
        color: #c5c5c5;
    }

.older-post {
    float: left;
}

.newest-post {
    float: right;
}

.pagination {
    width: 100%;
}

    .pagination a {
        color: #222222;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }

        .pagination a:hover {
            color: #535557;
        }

        .pagination a i {
            font-size: 15px;
            font-weight: 700;
        }

.older-post a i {
    margin-right: 5px;
}

.newest-post a i {
    margin-left: 5px;
}


/*-----------------------------------------------------------------------------------*/


/*	22.Testimonial Page Css
/*-----------------------------------------------------------------------------------*/

.inner-page-testimonial.pb-140 {
    padding-top: 80px;
}


/* ----------------------
+ Single News Css
------------------------- */

.sin-news-thumb {
    margin-bottom: 45px;
}

.news-bio h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.news-bio {
    margin-bottom: 30px;
}

.news-meta {
    color: #535557;
    font-size: 12px;
}

a.author {
    color: #f8cf27;
}

.news-content {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.news-tags p {
    color: #222222;
    font-size: 12px;
    font-weight: 600;
}

    .news-tags p a {
        color: #535557;
        font-weight: 300;
    }

.comments {
    border-bottom: 1px solid #eeeeee;
    margin-top: 80px;
}

.comment-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.comments-head {
    margin-bottom: 60px;
}

.commenters-avatar,
.commenters-avatar img {
    border-radius: 50%;
    float: left;
    height: 70px;
    margin-right: 25px;
    overflow: hidden;
    width: 70px;
}

.comment-content {
    font-size: 12px;
    font-weight: 300;
    padding-left: 95px;
}

    .comment-content h4 {
        font-size: 14px;
        margin-bottom: 0;
    }

.comment-time {
    display: block;
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 15px;
}

.comment-content > p {
    line-height: 24px;
    margin-bottom: 10px;
}

a.replay-btn {
    color: #222222;
    font-weight: 600;
}

    a.replay-btn:hover {
        color: #f8cf27;
        text-decoration: underline;
    }

.single-comment {
    margin-bottom: 50px;
}

.comment-form input,
.comment-form textarea {
    display: block;
}

.comment-form input,
.comment-form textarea {
    background: #f5f5f5 none repeat scroll 0 0;
    border: medium none;
    color: #959595;
    font-size: 12px;
    font-weight: 600;
    padding: 15px 26px;
}

.comment-form input {
    float: left;
    margin-bottom: 20px;
    width: 48.5%;
}

    .comment-form input[type="text"] {
        margin-right: 20px;
    }

.comment-form textarea {
    width: 100%;
}

input#submit-comment {
    background: #222222 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 45px;
    text-transform: uppercase;
}

.comment-form {
    margin-bottom: 20px;
}

.comment-box-head {
    margin: 85px 0 52px;
}

    .comment-box-head h4 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .comment-box-head span {
        font-size: 12px;
        font-weight: 300;
    }

.total-comment {
    font-size: 12px;
    font-weight: 300;
}


/*-----------------------------------------------------------------------------------*/


/*	23.404 Page Css
/*-----------------------------------------------------------------------------------*/

.dissapp-content {
    padding: 60px 0 140px;
}

.error {
    display: inline-block;
    letter-spacing: 45px;
    margin-bottom: 40px;
    margin-left: 50px;
    text-transform: uppercase;
}

.err-mess {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 35px;
    word-spacing: 1px;
}

.dissapp-search-box label {
    color: #222;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 22px;
}

.fourzerofour {
    font-family: "uni_sansheavy_caps";
    font-size: 160px;
    font-weight: 700;
    margin-bottom: 0px;
}

.dissapp-search-box .search-form {
    margin: 0 auto;
    width: 407px;
}

    .dissapp-search-box .search-form input[type="submit"] {
        float: right;
        width: 10%;
    }

.dissapp-search-box .input-submit:after {
    width: 10%;
}

.gohome {
    font-size: 16px;
    color: #999;
    font-weight: 300;
}

    .gohome a {
        font-weight: 600;
        color: #222;
        margin-left: 5px;
        text-decoration: underline;
    }

.dissapp-search-box {
    margin-bottom: 35px;
}


/*
--------------------------
+ Colors Css
--------------------------
*/

.head-bottom-area,
.contact-btn,
.footer-newsletter > input[type="submit"],
.mainmenu-area ul.nav.navbar-nav li ul li::after,
.Modern-Slider .PrevArrow:hover,
.Modern-Slider .NextArrow:hover,
.navbar-collapse,
.cta-area,
.color-palate-head,
.sin-whatWork::after,
.single-form input[type="submit"],
input#submit-comment,
ul.degins li::after,
.mean-container .mean-bar,
.mean-container .mean-nav ul li,
.Modern-Slider .PrevArrow:hover,
.Modern-Slider .NextArrow:hover,
.sin-pricing-table.active,
a.pricing-btn {
    background-color: #F8CF27; /* -- Your primary color code here -- */
}


    /* Jotil Colors*/

    .mainmenu-area ul.nav.navbar-nav > li > a:hover,
    .mainmenu-area ul.nav.navbar-nav li.active,
    .button-hover::after,
    .color-trigger,
    .about-gallery-posts .owl-dot.active,
    .sin-pricing-table.active .pricing-status {
        background-color: #eac11b; /* -- Your primary color hover code here -- */
    }


/* Color*/

.info-icon,
a.link-out,
.facts-headding h2 > strong,
.social-links ul li a:hover,
.mainmenu-area ul.nav.navbar-nav li ul li a:hover,
a.replay-btn:hover,
a.author,
.slider-text h1 span,
.sidebar .widget ul li a:hover,
.sidebar .sin-testimonial .quote-icon {
    color: #F8CF27; /* -- Your text color code here -- */
}

/* Secondary Colors */

#footer-area,
.overlay::after,
.mainmenu-area ul.nav.navbar-nav li ul li a,
.button.quote-btn,
.button.button-cta,
.sidebar .widget,
.sin-pricing-table.active .pricing-btn,
.sin-pricing-table {
    background-color: #222222;
}

.bb-top,
.mainmenu-area ul.nav.navbar-nav li ul li {
    border-color: #191919;
}

.sidebar ul.widget_links::after,
.sin-news .news-hover,
.secondary-two .work-thumb:hover .work-hover,
.news-thumb:hover .news-hover {
    background: rgba(34, 34, 34, 0.9);
}

.secondary-two .pricing-status {
    background: #222222;
}

/*
--------------------------
+ Preloader Css
--------------------------
*/

div#preloader {
    overflow: hidden;
    background-color: #ecf0f1;
    background-image: url('../img/preLoader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
