﻿<section class="about-area section-padding">
    <div class="container">
        <div class="col-md-4">
            <div class="about-left">
                <h2>
                    @Html.Raw(Resources.GlobalRes.AboutDescription)
                </h2>
                <figure class="about-thumb">
                    <img src="/img/about-thumb.jpg" alt="" class="img-responsive">
                    <figcaption>
                        “Work together, succeed together”
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
            <div class="about-quote">
                <blockquote>
                  @Html.Raw(Resources.GlobalRes.AboutDescriptionMore)
                </blockquote>
            </div>
        </div>
    </div>
</section>
