﻿<section class="cta-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="cta-text">
                    <h2 style="font-family:'Times New Roman', Times, serif">@Resources.GlobalRes.LinkOurServices</h2>
                    <span>@Resources.GlobalRes.LinkOurServicesSubTitle</span>
                </div>
            </div>
            @*<div class="col-sm-6">
                <div class="cta-right">
                    <a href="@Url.Content("~/Content/susoft.docx")">@Resources.GlobalRes.Profile</a>
                </div>
            </div>*@
        </div>
    </div>
</section>
