﻿<section class="facts-area section-padding overlay fix" style="background-image:url(img/facts-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="facts-headding">
                    <h2>  @Html.Raw(Resources.GlobalRes.FactsHeadline1)  </h2>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="fact-quote">
                    <blockquote>
                        @Html.Raw(Resources.GlobalRes.FactsHeadline2)
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="facts-wrap fix">
                    <!-- Single Fact -->
                    <div class="sin-fact">
                        <span class="counter">50</span>
                        <h2 class="count-badge">satisfied clients</h2>
                    </div>
                    <!-- /. End Of Single Fact -->
                    <!-- Single Fact -->
                    <div class="sin-fact">
                        <span class="counter">150</span>
                        <h2 class="count-badge">completed projects</h2>
                    </div>
                    <!-- /. End Of Single Fact -->
                    <!-- Single Fact -->
                    <div class="sin-fact">
                        <span class="counter">8</span>
                        <h2 class="count-badge">expert workers</h2>
                    </div>
                    <!-- /. End Of Single Fact -->
                    <!-- Single Fact -->
                    <div class="sin-fact">
                        <span class="counter">100</span><span>%</span>
                        <h2 class="count-badge">satisfaction rate</h2>
                    </div>
                    <!-- /. End Of Single Fact -->
                    <!-- Single Fact -->
                    <div class="sin-fact">
                        <span class="counter">2500</span><span>+</span>
                        <h2 class="count-badge">hours of work</h2>
                    </div>
                    <!-- /. End Of Single Fact -->
                </div>
            </div>
        </div>
    </div>
</section>
