﻿<section class="info-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info-thumbs fix">
                    <div class="large-thumb thumbs">
                        <img src="/img/info/img-01.jpg" alt="">
                    </div>
                    <div class="small-thumbs thumbs">
                        <img src="/img/info/img-02.jpg" alt="">
                        <img src="/img/info/img-03.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-text height-right">
                    <h2>@Html.Raw(Resources.GlobalRes.GreatProductTitle)</h2>
                    <p>@Html.Raw(Resources.GlobalRes.GreatProductContent)</p>
                </div>
            </div>
        </div>
    </div>
</section>
