﻿@using Susoft.Model;
@using Susoft.CMS.Common;

@model IEnumerable<Susoft.Model.Articles>

<section class="latestNews-area pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-title text-center mb-70">
                <h2>@Resources.GlobalRes.HOMELATESTNEW</h2>
            </div>
        </div>
        <div class="row">
            <!-- Single News -->
            @foreach (var article in Model)
            {
                <div class="col-sm-4">
                    <div class="sin-news">
                        <a class="news-thumb mb-35" href="@Url.Action("Details","News",new { id = article.Id })">
                            <img src="@Utitlitys.ImagePath(article.ThumbURL,(int)CMS_IMAGE_TYPE.ARTICLE_TYPE)" alt="">
                            <div class="news-hover"></div>
                        </a>
                        <div class="news-excerpt">
                            <a href="@Url.Action("Details","News",new { id = article.Id })"><h2>@article.Title</h2></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>