﻿<section class="slider-area">
    <div class="Modern-Slider">
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <img src="~/img/slides/img-01.jpg" alt="">
                <div class="slider-text overlay">
                    <div class="tb">
                        <div class="tbc">
                            <div class="container text-left rs-padding ">
                                <div class="col-md-12">
                                    @Html.Raw(Resources.GlobalRes.HeadLine1)
                                    <p>
                                        @Html.Raw(Resources.GlobalRes.HeadLine2)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <img src="~/img/slides/img-02.jpg" alt="">
                <div class="slider-text overlay">
                    <div class="tb">
                        <div class="tbc">
                            <div class="container text-left rs-padding ">
                                <div class="col-md-offset-5 col-md-7">

                                    <h1>@Html.Raw(Resources.GlobalRes.HeadLine3)</h1>
                                    <p>
                                        @Html.Raw(Resources.GlobalRes.HeadLine4)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
    </div>
</section>
