﻿<section class="tesimonial-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center mb-65">
                    <h2 style="font-family:'Times New Roman'">@Resources.GlobalRes.ClientSay</h2>
                </div>
            </div>
        </div>
        <div class="row mb-70">
            <div class="testimonial-wrap testimonial-active">
                <!-- Single Testimonial -->
                <div class="sin-tesimonial">
                    <span class="quote">
                        Very happy with the work by the team. You get out what you put in, and if you don’t put in the effort to communicate well, you’ll run into problems, regardless of who you work with.
                        The team is very accommodating, professional and expert in their field. Will not hesitate to work with them again on future projects.
                    </span>
                    <div class="cliet-bio">
                        <h2>Kevin G Blackman</h2>
                        <span class="client-pos">CTO</span>
                    </div>
                </div>
                <!-- /.End OfSingle Testimonial -->
                <!-- Single Testimonial -->
                <div class="sin-tesimonial">
                    <span class="quote">
                        Working with Susoft is a pleasure – the assets are of high quality, the prices are competitive, and the people are friendly.
                        I would enjoy working with them again or recommend them to another team.
                        Thanks again for all the hard work!
                    </span>
                    <div class="cliet-bio">
                        <h2>Bruno Amorim</h2>
                        <span class="client-pos">Project Manager</span>
                    </div>
                </div>
                <!-- /.End OfSingle Testimonial -->
                <!-- Single Testimonial -->
                <div class="sin-tesimonial">
                    <span class="quote">
                        Susoft is great partner, helping us discover and define the art style for the apps we’ve worked on as well as delivering high quality.
                    </span>
                    <div class="cliet-bio">
                        <h2>Hisham Hassan</h2>
                        <span class="client-pos">Founder</span>
                    </div>
                </div>
                <!-- /.End OfSingle Testimonial -->
                <!-- Single Testimonial -->
                <div class="sin-tesimonial">
                    <span class="quote">
                        Working with SUSOFT was a pretty smooth and easy process. They were quick to address any feedback we had, and delivered high quality work on time and budget.
                        Great team, great skills, great communication! I can highly recommend them!
                    </span>
                    <div class="cliet-bio">
                        <h2>Duy Lượng</h2>
                        <span class="client-pos">CTO</span>
                    </div>
                </div>
                <!-- /.End OfSingle Testimonial -->
            </div>
        </div>
    </div>
</section>
