﻿@using Susoft.Model;
@using Susoft.CMS.Common;
@model IEnumerable<Articles>
@{var lang = ViewContext.RouteData.Values["lang"] as string;
}

<section class="works-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 style="font-family:'Times New Roman', Times, serif">@Resources.GlobalRes.WHATWEDO</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var article in Model)
            {
                      <!-- Single Work -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-work">
                        <a class="work-thumb mb-35" href="@Url.Action("Details","News",new { id = article.Id })">
                            <img src="@Utitlitys.ImagePath(article.ThumbURL,(int)CMS_IMAGE_TYPE.ARTICLE_TYPE)" style="width:360px;height:212px" alt="">
                            <div class="work-hover"></div>
                        </a>
                        <div class="work-excerp">
                            <a href="@Url.Action("Details","News",new { id = article.Id })">
                                @if (lang == null || lang.Contains("en"))
                                {
                                    <h2>@article.Title_EN</h2>
                                }
                                else if (lang.Contains("vi"))
                                {
                                    <h2>@article.Title</h2>
                                }
                                else 
                                {
                                    <h2>@article.Title_JP</h2>
                                }
                            </a>
                            <p>@Html.Raw(Server.HtmlDecode(article.Summary))</p>
                        </div>
                    </div>
                </div>
            <!-- /. End Of Single Work -->
            }
        </div>
    </div>
</section>