﻿@using Susoft.Model;
@model Articles
@{
    ViewBag.Title = "About";
}
<h2>@Model.Title</h2>
<h3>@Html.Raw(Server.HtmlDecode(Model.Summary))</h3>

<p>@Html.Raw(Server.HtmlDecode(Model.Description))</p>