﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    70 No<br />
    165 land Xuan Thuy Street, Cau Giay - Ha Noi<br />
    <abbr title="Phone">Phone:</abbr>
    +84 39148999
</address>

<address>
    <strong>Hỗ trợ kỹ thuật:</strong>   <a href="mailto:hoanhnv@mobileplus.vn">hoanhnv@mobileplus.vn</a><br />
    <strong>Hỗ trợ kinh doanh:</strong> <a href="mailto:info@mobileplus.vn">info@mobileplus.vn</a>
</address>