﻿@using Susoft.Model;
@model HtmlContent
@{
    ViewBag.Title = "Về công ty Khởi Nguồn";
    Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
}
@section MainMenu{
    @{Html.RenderAction("GetMainMenu", "Common");}
}
@{
    var lang = ViewContext.RouteData.Values["lang"] as string;
}
@section SideBar{
    @{Html.RenderAction("GetSideBar", "Common");}
}
@section BreaCumb{
    <div class="page-title-content">
        <h2 class="page-title">@Resources.GlobalRes.Service</h2>
    </div>
    <div class="bread-cumb">
        @if (lang == null || lang.Contains("en"))
        {
            <ul>
                <li><a href="/en/home">@Resources.GlobalRes.Home</a></li>
                <li><a href="/en/services  ">@Resources.GlobalRes.Service</a></li>
            </ul>
        }
        else if (lang.Equals("vi"))
        {
            <ul>
                <li><a href="/vi/home">@Resources.GlobalRes.Home</a></li>
                <li><a href="/vi/services">@Resources.GlobalRes.Service</a></li>
            </ul>
        }
        else
        {
            <ul>
                <li><a href="/vi/home">@Resources.GlobalRes.Home</a></li>
                <li><a href="/vi/services">@Resources.GlobalRes.Service</a></li>
            </ul>
        }
    </div>}
<section>
    <div class="row">
        <div class="col-md-12">
            @if (Model.HtmlContent1 != null)
            {
                <div>
                    @Html.Raw(Model.HtmlContent1)
                </div>
            }
            else
            {

            }
        </div>
    </div>
</section>
