﻿@using Susoft.CMS.Models;
@model CategoriesViewModel
    @{
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Chuyên mục</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">Chuyên mục cha</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.categoryInfo.ParentId, (SelectList)ViewBag.CategoryId,"---Chuyên mục cha---", new { @class = "form-control", @style = "witdth:150px;" })
                    @Html.ValidationMessageFor(model => model.categoryInfo.ParentId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Tên chuyên mục</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.categoryInfo.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.categoryInfo.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Tên tiếng Anh</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.categoryInfo.Name_EN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.categoryInfo.Name_EN, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Tên tiếng Nhật</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.categoryInfo.Name_JP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.categoryInfo.Name_JP, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Link liên kết</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.categoryInfo.URL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.categoryInfo.URL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Link tiếng Anh</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.categoryInfo.URL_EN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.categoryInfo.URL_EN, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Link tiếng Nhật</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.categoryInfo.URL_JP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.categoryInfo.URL_JP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Là Menu</label>
                <div class="col-md-10">
                        <input name="IsMenu" type="checkbox" /> 
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Trạng thái</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.categoryInfo.Status, (SelectList)ViewBag.Status, new { @class = "form-control", @style = "witdth:150px;" })
                    @Html.ValidationMessageFor(model => model.categoryInfo.Status, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-md-2">Vị trí</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.categoryInfo.Position, (SelectList)ViewBag.Position, new { @class = "form-control", @style = "witdth:150px;" })
                    @Html.ValidationMessageFor(model => model.categoryInfo.Position, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">OrderBy</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.categoryInfo.OrderBy, new { @class = "form-control", @style = "witdth:150px;" })
                    @Html.ValidationMessageFor(model => model.categoryInfo.OrderBy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>


    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
