﻿@using Susoft.CMS.Common;
@using Susoft.CMS.Models;
@model CategoriesViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Chuyên mục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên chuyên mục
        </dt>
        <dd>
            @Html.DisplayFor(m => m.categoryInfo.Name)
        </dd>

        <dt>
            Tên tiếng Anh
        </dt>
        <dd>
            @Html.DisplayFor(m => m.categoryInfo.Name_EN)
        </dd>

        <dt>
            Tên tiếng Nhật
        </dt>
        <dd>
            @Html.DisplayFor(m => m.categoryInfo.Name_JP)
        </dd>

        <dt>
            Link liên kết
        </dt>
        <dd>
            @Html.DisplayFor(m => m.categoryInfo.URL)
        </dd>

        <dt>
            Link tiếng Anh
        </dt>
        <dd>
            @Html.DisplayFor(m => m.categoryInfo.URL_EN)
        </dd>

        <dt>
            Link tiếng Nhật
        </dt>
        <dd>
            @Html.DisplayFor(m => m.categoryInfo.URL_JP)
        </dd>

        <dt>
           Menu
        </dt>

        <dd>
            @Model.categoryInfo.IsMenu.ToString()
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Utitlitys.StatusToString(Model.categoryInfo.Status.Value)
        </dd>

        <dt>
            Chuyên mục cha
        </dt>

        <dd>
            @if (Model.parentCategory == null)
            {
                <span> --- </span>
            }
            else
            {
                @Html.DisplayFor(modelItem => Model.parentCategory.Name)
            }
        </dd>

        <dt>
           Người tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryInfo.CreateBy)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryInfo.CreateAt)
        </dd>

        <dt>
            Cập nhật bởi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryInfo.UpdateBy)
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryInfo.UpdateAt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
