﻿@using Susoft.CMS.Common;
@using Susoft.CMS.Models;
@model CategoriesViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<h2>Chi tiết chuyên mục</h2>

<div>
    <h4>Chuyên mục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên chuyên mục
        </dt>
        <dd>
            @Html.DisplayFor(m => m.categoryInfo.Name)
        </dd>

        <dt>
            Tên tiếng Anh
        </dt>
        <dd>
            @Html.DisplayFor(m => m.categoryInfo.Name_EN)
        </dd>

        <dt>
            Tên tiếng Nhật
        </dt>
        <dd>
            @Html.DisplayFor(m => m.categoryInfo.Name_JP)
        </dd>

        <dt>
           Link liên kết
        </dt>
        <dd>
            @Html.DisplayFor(m => m.categoryInfo.URL)
        </dd>

        <dt>
            Link tiếng Anh
        </dt>
        <dd>
            @Html.DisplayFor(m => m.categoryInfo.URL_EN)
        </dd>

        <dt>
            Link tiếng Nhật
        </dt>
        <dd>
            @Html.DisplayFor(m => m.categoryInfo.URL_JP)
        </dd>
            
        <dt>
           Menu
        </dt>

        <dd>
            @Model.categoryInfo.IsMenu.ToString()
        </dd>

        <dt>
           Trạng thái
        </dt>

        <dd>
            @Utitlitys.StatusToString(Model.categoryInfo.Status.Value)
        </dd>

        <dt>
           Chuyên mục cha
        </dt>

        <dd>
           @*@Html.DisplayFor(model => model.ParentId)*@
           @if (Model.parentCategory == null)
            {
            <span> --- </span>
           }
           else
           {
            @Html.DisplayFor(modelItem => Model.parentCategory.Name)
           }
        </dd>

        <dt>
            Người tạo
            @*@Html.DisplayNameFor(model => model.CreateBy)*@
        </dt>

        <dd>
            @Html.DisplayFor(m => m.categoryInfo.CreateBy)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(m => m.categoryInfo.CreateAt)
        </dd>

        <dt>
            Cập nhật bởi
        </dt>

        <dd>
            @Html.DisplayFor(m => m.categoryInfo.UpdateBy)
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(m => m.categoryInfo.UpdateAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.categoryInfo.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
