﻿@using Susoft.CMS.Models;
@model CategoriesViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sửa thông tin</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Chuyên mục</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.categoryInfo.Id)

        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Tên chuyên mục</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.categoryInfo.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.categoryInfo.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Tên tiếng Anh</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.categoryInfo.Name_EN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.categoryInfo.Name_EN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Tên tiếng Nhật</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.categoryInfo.Name_JP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.categoryInfo.Name_JP, "", new { @class = "text-danger" })
            </div>
        </div>
     
        <div class="form-group">
            <label class="control-label col-md-2" for="URL">Linh liên kết</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.categoryInfo.URL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.categoryInfo.URL, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="URL">Linh liên kết tiếng Anh</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.categoryInfo.URL_EN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.categoryInfo.URL_EN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="URL">Linh liên kết tiếng Nhật</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.categoryInfo.URL_JP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.categoryInfo.URL_JP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Type">Menu</label>
            <div class="col-md-10">
                <input name="IsMenu" type="checkbox"  />     
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Status">Trạng thái</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.categoryInfo.Status, (SelectList)ViewBag.Status, new { @class = "form-control", @style = "witdth:150px;" })
                @Html.ValidationMessageFor(model => model.categoryInfo.Status, "", new { @class = "text-danger" }) 
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ParentId">Chuyên mục cha</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.categoryInfo.ParentId, (SelectList)ViewBag.CategoryId, "---Chuyên mục cha---", new { @class = "form-control", @style = "witdth:150px;" })
                @Html.ValidationMessageFor(model => model.categoryInfo.ParentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="URL">Vị Trí</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.categoryInfo.Position, (SelectList)ViewBag.Position, new { @class = "form-control", @style = "witdth:150px;" })
                @Html.ValidationMessageFor(model => model.categoryInfo.Position, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="URL">OrderBy</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.categoryInfo.OrderBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.categoryInfo.OrderBy, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
