﻿@using Susoft.CMS.Common;
@using Susoft.CMS.Models;
@*@using Susoft.CMS.Controllers;*@
@model IEnumerable<CategoriesViewModel> 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
    //var controller = ViewContext.Controller as CategoriesController;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên chuyên mục
        </th>
        <th>
            Link liên kết
        </th>
        <th>
            Menu
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Chuyên mục cha
        </th>
        <th>
            Vị trí
        </th>
        <th>
            OrderBy
        </th>
        <th>
            Người tạo
        </th>
        <th>
            Ngày tạo
        </th>
        <th></th>
        <th>
            Ngày cập nhật
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:250px">
                <a href="@Url.Action("Details", new { id = item.categoryInfo.Id })">@Html.DisplayFor(modelItem => item.categoryInfo.Name)</a>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.categoryInfo.Name_EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryInfo.Name_JP)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.categoryInfo.URL)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.categoryInfo.URL_EN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryInfo.URL_JP)
            </td>*@
            <td>
                @item.categoryInfo.IsMenu.ToString()
            </td>
            <td>
               @Utitlitys.StatusToString(item.categoryInfo.Status.Value)
            </td>
            <td>
              @*@controller.getCategory(item.ParentId.Value).Name*@
                @if (item.parentCategory == null)
                {
                    <span> --- </span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.parentCategory.Name)
                }
           
            </td>
            <td>
                @Utitlitys.PositionToString(item.categoryInfo.Position.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryInfo.OrderBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryInfo.CreateBy)
            </td>
            <td>
               @item.categoryInfo.CreateAt
                @*@Utitlitys.DatetimeToVN(item.categoryInfo.CreateAt.Value)*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.UpdateBy)*@    
            </td>
            <td>
                @item.categoryInfo.UpdateAt
                @*@Html.DisplayFor(modelItem => item.UpdateAt)*@
            </td>
            <td style="white-space:nowrap">
                <a href='@Url.Action("Edit", "Categories", new { id = item.categoryInfo.Id })'><img src="~/img/icons/page_white_edit.png" title="Cập nhật" /></a> |
                <a href='@Url.Action("Delete", "Categories",new { id = item.categoryInfo.Id })'><img src="~/img/icons/bin_closed.png" title="Xóa thông tin" /></a>
            </td>
        </tr>
    }

</table>
