﻿@using Susoft.Model
@using Susoft.CMS.Common
@model Susoft.Model.Articles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutWithDetails.cshtml";

}
@section MainMenu{
    @{Html.RenderAction("GetMainMenu", "Common");}
}
@section SideBar{
    @{Html.RenderAction("GetSideBar", "Common");}
}
@{
    var lang = ViewContext.RouteData.Values["lang"] as string;
}
<!-- Page Title Area
     =========================== -->
<section class="page-title fix">
    <div class="container bb-bottom">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-content">
                    <h2 class="page-title">@Resources.GlobalRes.LATESTNEW</h2>
                    <span class="sub-title">@Resources.GlobalRes.ReadNewBlog</span>
                </div>
                <div class="bread-cumb">
                    @if (lang == null || lang.Contains("en"))
                    {
                        <ul>
                            <li><a href="/en/home">@Resources.GlobalRes.Home</a></li>
                            <li><a href="/en/news">@Resources.GlobalRes.New</a></li>
                        </ul>
                    }
                    else if (lang.Equals("vi"))
                    {
                        <ul>
                            <li><a href="/vi/home">@Resources.GlobalRes.Home</a></li>
                            <li><a href="/vi/news">@Resources.GlobalRes.New</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul>
                            <li><a href="/vi/home">@Resources.GlobalRes.Home</a></li>
                            <li><a href="/vi/news">@Resources.GlobalRes.New</a></li>
                        </ul>
                    }
                </div>
                <!-- /.END OF BREAD CUMB -->
            </div>
        </div>
    </div>
</section>
<!-- End Of Page Title Area -->
<!-- Page Internal Content -->
<section class="page-internal-content">
    <div class="container">
        <div class="row">
            <!-- Content Section -->
            <div class="col-md-9 main-content">
                <!-- Single News Post -->
                <div class="sin-news-content">
                    <div class="sin-news-thumb">
                        <img src="@Utitlitys.ImagePath(Model.ThumbURL,(int)CMS_IMAGE_TYPE.ARTICLE_TYPE)" alt="">
                    </div>
                    <div class="news-content">
                        <div class="news-bio">
                            <h2>@Model.Title</h2>
                            <span class="news-meta">23rd March, 2016,   by <a href="#" class="author">Susoft</a></span>
                        </div>
                        @Html.Raw(Server.HtmlDecode(@Model.Description))
                    </div>
                    <div class="news-tags">
                        @if (lang == null || lang.Contains("en"))
                        {
                            <p>
                                Tags: <a href=@Model.Category.URL_EN>@Model.Category.Name_EN,</a>
                            </p>
                        }
                        else if (lang.Equals("vi"))
                        {
                            <p>
                                Tags: <a href=@Model.Category.URL>@Model.Category.Name,</a>
                            </p>
                        }
                        else
                        {
                            <p>
                                Tags: <a href=@Model.Category.URL_JP>@Model.Category.Name_JP,</a>
                            </p>
                        }
                    </div>
                </div>
            </div>
            <!-- /.End Of Content Section -->
            <!-- Sidebar -->

            @*@{Html.RenderAction("GetSideBar", "Common");}*@
            <!-- /.End Of Sidebar -->
        </div>
    </div>
</section>
<!-- /.End Of Page Internal Content -->
