﻿@using Susoft.Model
@using Susoft.CMS.Common
@model IEnumerable<Articles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
}
@{var lang = ViewContext.RouteData.Values["lang"] as string;
}
@section MainMenu{
    @{Html.RenderAction("GetMainMenu", "Common");}
}
@section SideBar{
    @{Html.RenderAction("GetSideBar", "Common");}
}
@section BreaCumb{
    <div class="page-title-content">
        <h2 class="page-title">@Resources.GlobalRes.LATESTNEW</h2>
        <span class="sub-title">@Resources.GlobalRes.ReadNewBlog</span>
    </div>
    <div class="bread-cumb">
        @if (lang == null || lang.Contains("en"))
        {
            <ul>
                <li><a href="/en/home">@Resources.GlobalRes.Home</a></li>
                <li><a href="/en/news">@Resources.GlobalRes.New</a></li>
            </ul>
        }
        else if (lang.Equals("vi"))
        {
            <ul>
                <li><a href="/vi/home">@Resources.GlobalRes.Home</a></li>
                <li><a href="/vi/news">@Resources.GlobalRes.New</a></li>
            </ul>
        }
        else
        {
            <ul>
                <li><a href="/vi/home">@Resources.GlobalRes.Home</a></li>
                <li><a href="/vi/news">@Resources.GlobalRes.New</a></li>
            </ul>
        }
    </div>
}
<div class="col-md-9 main-content">
    <div class="row">
        @foreach (Articles item in Model)
        {
         <!-- Single Work -->
            <div class="col-sm-4">
                <div class="single-work sin-news">
                    <a class="work-thumb mb-35" href="@Url.Action("Details","News",new {id=item.Id })">
                        <img src="@Utitlitys.ImagePath(item.ThumbURL,(int)CMS_IMAGE_TYPE.ARTICLE_TYPE)" alt="">
                        <div class="work-hover"></div>
                    </a>
                    <div class="work-excerp">
                        <a href="@Url.Action("Details","News",new {id=item.Id })">
                            @if (lang == null || lang.Contains("en"))
                            {
                                <h2>@item.Title_EN</h2>
                            }
                            else if (lang.Contains("vi"))
                            {
                                <h2>@item.Title</h2>
                            }
                            else
                            {
                                <h2>@item.Title_JP</h2>
                            }
                        <span class="news-date">@item.CreateAt</span>
                    </div>
                </div>
            </div>
    <!-- /. End Of Single Work -->
        }
        <!-- /. End Of Single Work -->
        <!-- Pagination -->
        <div class="pagination plr-10">
            <div class="older-post">
                <a href=""><i class="fa fa-angle-left"></i>@Resources.GlobalRes.OlderPost</a>
            </div>
            <div class="newest-post">
                <a href="">@Resources.GlobalRes.NewPost<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <!-- /.End Of Pagination -->
    </div>
</div>
