﻿@using Susoft.CMS.Common;
@using Susoft.CMS.Models;
@using Susoft.Model;
@model List<CategoriesViewModel>
@{
    var ListCategoryForMenu = (List<CategoriesViewModel>)Model;
    var lang = ViewContext.RouteData.Values["lang"] as string;
}
<div class="mainmenu-area">
    <nav class="navigation-menus">
        <ul class="mobile-menu nav navbar-nav">
            @foreach (CategoriesViewModel cate in ListCategoryForMenu)
            {
                if (cate.childCategory == null)
                {
                    if (lang == null || lang.Contains("en"))
                    {
                        <li id="@cate.categoryInfo.Name_EN.ToLower()"><a href=@cate.categoryInfo.URL_EN>@cate.categoryInfo.Name_EN</a></li>
                    }
                    else if (lang.Equals("vi"))
                    {
                        <li id="@cate.categoryInfo.Name_EN.ToLower()"><a href=@cate.categoryInfo.URL>@cate.categoryInfo.Name</a></li>
                    }
                    else
                    {
                        <li id="@cate.categoryInfo.Name_EN.ToLower()"><a href=@cate.categoryInfo.URL_JP>@cate.categoryInfo.Name_JP</a></li>
                    }
                }
                else
                {
                    <li class="dropdown-trigger">
                        @if (lang.Contains("en"))
                        {
                            <a href=@cate.categoryInfo.URL_EN>@cate.categoryInfo.Name_EN <i class="hover-ind fa fa-caret-down" aria-hidden="true"></i></a>
                        }
                        else if (lang.Equals("vi"))
                        {
                            <a href=@cate.categoryInfo.URL>@cate.categoryInfo.Name <i class="hover-ind fa fa-caret-down" aria-hidden="true"></i></a>
                        }
                        else
                        {
                            <a href=@cate.categoryInfo.URL_JP>@cate.categoryInfo.Name_JP <i class="hover-ind fa fa-caret-down" aria-hidden="true"></i></a>
                        }
                        <ul class="sub-menu">
                            @foreach (Category subCate in cate.childCategory)
                            {
                                <li><a href=@subCate.URL>@subCate.Name</a></li>
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </nav>
    <a href="@Url.Content("~/Content/susoft.docx")" class="button button-hover quote-btn">@Resources.GlobalRes.Profile</a>
</div>
@section ScriptsButtom{
    <script type="text/javascript">
        function activeMenu() {
            var strURLPath = window.location.pathname;
            var activeId = "Common";
            $('.mobile-menu nav navbar-nav li#' + activeId).addClass('active');
            $('.mobile-menu nav navbar-nav li#' + activeId).parents('li').addClass('active open');
        };
    </script>
}
<script type="text/javascript">
    $(document).ready(function () {
        var strURLPath = window.location.pathname;
        //en/Home
        $('.mobile-menu nav navbar-nav li').removeClass('active');
        var activeId = strURLPath.substring(1, strURLPath.length);
        //project
        activeId = activeId.split("/")[1];
       
        $('#' + activeId).addClass('active');
        $('.mobile-menu nav navbar-nav li#' + activeId).parents('li').addClass('active open');
    });
</script>





