﻿@using Susoft.CMS.Common;
@using Susoft.Model;
@{
    var categoryChild = (List<Category>)ViewBag.ListCategoryChild;
}

@*<div class="widget">
        <ul class="widget_links">
            @foreach (Category cate in categoryChild)
                {
                <li><a href=@cate.URL><i class="fa fa-angle-right"></i> @cate.Name</a></li>
            }
        </ul>
    </div>*@
<!-- /.End Of Widget -->
<!-- Widget -->
<div class="widget">
    <div class="widget-testimonial">
        <!-- Single Widget Testimonial -->
        <div class="sin-testimonial">
            <p>
                <span class="quote-icon">“</span>
                Very happy with the work by the team. You get out what you put in, and if you don’t put in the effort to communicate well, you’ll run into problems, regardless of who you work with.
                The team is very accommodating, professional and expert in their field. Will not hesitate to work with them again on future projects.
            </p>
            <h5 class="client-name">- Kevin G Blackman</h5>
        </div>
        <!-- /.End Of Single Widget Testimonial -->
        <!-- Single Widget Testimonial -->
        <div class="sin-testimonial">
            <p>
                <span class="quote-icon">“</span>
                Working with Susoft is a pleasure – the assets are of high quality, the prices are competitive, and the people are friendly.
                I would enjoy working with them again or recommend them to another team.
                Thanks again for all the hard work!
            </p>
            <h2 class="client-name">- Bruno Amorim</h2>
        </div>
        <!-- /.End Of Single Widget Testimonial -->
        <!-- Single Widget Testimonial -->
        <div class="sin-testimonial">
            <p>
                <span class="quote-icon">“</span>
                Working with SUSOFT was a pretty smooth and easy process. They were quick to address any feedback we had, and delivered high quality work on time and budget.
                Great team, great skills, great communication! I can highly recommend them!
            </p>
            <h2 class="client-name">- Duy Lượng</h2>
        </div>
        <!-- /.End Of Single Widget Testimonial -->
        <!-- Single Widget Testimonial -->
        <div class="sin-testimonial">
            <p>
                <span class="quote-icon">“</span>
                Susoft is great partner, helping us discover and define the art style for the apps we’ve worked on as well as delivering high quality.
            </p>
            <h2 class="client-name">- Hisham Hassan</h2>
        </div>
        <!-- /.End Of Single Widget Testimonial -->
    </div>
</div>
