﻿@model Susoft.Model.HtmlContent

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
@section HeaderScript{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <link href="~/Content/Bootstrap.min.css" rel="stylesheet" />
}
<h2>Thêm mới</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>HtmlContent</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="PageId">PageId</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PageId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PageId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="HtmlContent1">HtmlContent</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.HtmlContent1, new { @id = "HtmlContent1" })
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace('HtmlContent1', {
                        filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                        filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                        filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                        filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    });
                </script>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $('#frmCreate').on('submit', function () {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    });
</script>
