﻿@model Susoft.Model.HtmlContent

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HtmlContent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            PageId
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageId)
        </dd>

        <dt>
            HtmlContent
        </dt>

        <dd>
            @Html.Raw(Server.HtmlDecode(Model.HtmlContent1))
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
