﻿@model Susoft.Model.HtmlContent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>HtmlContent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            PgaeId
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageId)
        </dd>

        <dt>
            HtmlContent
        </dt>

        <dd>
           @Html.Raw(Server.HtmlDecode(Model.HtmlContent1))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
