﻿@model IEnumerable<Susoft.Model.HtmlContent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
<style>
    .divimage {
        width: 100px;
        height: 100px;
    }

        .divimage img {
            display: block;
            width: 100%;
        }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            PageId          
        </th>
        <th>
            HtmlContent
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PageId)
        </td>
        <td>
            @Html.Raw(Server.HtmlDecode(item.HtmlContent1))
        </td>
        <td style="white-space:nowrap">
            <a href='@Url.Action("Details", "HtmlContents",new { id = item.Id })'><img src="~/img/icons/application_view_detail.png" title="Chi tiết" /></a> |
            <a href='@Url.Action("Edit", "HtmlContents", new { id = item.Id })'><img src="~/img/icons/page_white_edit.png" title="Cập nhật" /></a> |
            <a href='@Url.Action("Delete", "HtmlContents",new { id = item.Id })'><img src="~/img/icons/bin_closed.png" title="Xóa" /></a>
        </td>
    </tr>
}

</table>
