﻿@using Susoft.Model;
@model Susoft.CMS.Models.ArticleViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
@section HeaderScript{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <link href="~/Content/Bootstrap.min.css" rel="stylesheet" />
}
<h2>Thêm mới bài viết</h2>

@using (Html.BeginForm("Create", "Articles", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreate" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Quản lý bài viết</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Tiêu đề</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.articleInfo.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.articleInfo.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tiêu đề tiếng Anh</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.articleInfo.Title_EN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.articleInfo.Title_EN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tiêu đề tiếng Nhật</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.articleInfo.Title_JP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.articleInfo.Title_JP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Chuyên mục</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.articleInfo.CategoryId, (SelectList)ViewBag.CategoryId, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.articleInfo.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tóm tắt</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Summary, new { @id = "Summary" })
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace('Summary', {
                        filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                        filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                        filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                        filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    });
                </script>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tóm tắt tiếng Anh</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Summary_EN, new { @id = "Summary_EN" })
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace('Summary_EN', {
                        filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                        filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                        filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                        filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    });
                </script>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tóm tắt tiếng Nhật</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Summary_JP, new { @id = "Summary_JP" })
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace('Summary_JP', {
                        filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                        filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                        filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                        filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    });
                </script>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Chi tiết bài viết</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @id = "Description" })
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace('Description', {
                        filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                        filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                        filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                        filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    });
                </script>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Chi tiết tiếng Anh</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description_EN, new { @id = "Description_EN" })
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace('Description_EN', {
                        filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                        filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                        filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                        filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    });
                </script>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Chi tiết tiếng Nhật</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description_JP, new { @id = "Description_JP" })
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace('Description_JP', {
                        filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                        filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                        filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                        filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    });
                </script>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Ảnh tiêu đề</label>
            <div class="col-md-10">
                <input type="file" name="files" id="files" style="width: 100%;" /><br>
                <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Tin nóng</label>
            <div class="col-md-10">
                <input name="HotNew" type="checkbox" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Trạng thái</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.articleInfo.Status, (SelectList)ViewBag.Status, new { @class = "form-control", @style = "witdth:150px;" })
                @Html.ValidationMessageFor(model => model.articleInfo.Status, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $('#frmCreate').on('submit', function () {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    });
</script>
