﻿@using Susoft.CMS.Common;
@model Susoft.Model.Articles

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
<style>
    .divimage {
        width: 100px;
        height: 100px;
    }

        .divimage img {
            display: block;
            width: 100%;
        }
</style>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Articles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ảnh tiêu đề
        </dt>

        <dd>
            <div class="divimage">
                <img src="@Utitlitys.ImagePath(Model.ThumbURL,(int)CMS_IMAGE_TYPE.ARTICLE_TYPE)" />
            </div>
        </dd>
        <dt>
            Tiêu đề
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Tiêu đề tiếng Anh
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title_EN)
        </dd>
        <dt>
            Tiêu đề tiếng Nhật
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title_JP)
        </dd>
        <dt>
            Chuyên mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.Raw(Server.HtmlDecode(Model.Summary))
        </dd>
        <dt>
            Mô tả tiếng Anh
        </dt>
        <dd>
            @Html.Raw(Server.HtmlDecode(Model.Summary_EN))
        </dd>
        <dt>
            Mô tả tiếng Nhật
        </dt>
        <dd>
            @Html.Raw(Server.HtmlDecode(Model.Summary_JP))
        </dd>
        <dt>
            Chi tiết bài viết
        </dt>

        <dd>
            @Html.Raw(Server.HtmlDecode(Model.Description))
        </dd>
        <dt>
            Chi tiết tiếng Anh
        </dt>
        <dd>
            @Html.Raw(Server.HtmlDecode(Model.Description_EN))
        </dd>
        <dt>
            Chi tiết tiếng Nhật
        </dt>
        <dd>
            @Html.Raw(Server.HtmlDecode(Model.Description_JP))
        </dd>
        <dt>
            Trạng thái
        </dt>

        <dd>
            @Utitlitys.StatusToString(Model.Status.Value)
        </dd>

        <dt>
            Người đăng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            Người cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            Ngày đăng
        </dt>

        <dd>
            @Utitlitys.DatetimeToVN(Model.CreateAt.Value)
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateAt)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
