﻿@using Susoft.CMS.Common;
@model IEnumerable<Susoft.Model.Articles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
<style>
    .divimage {
        width: 100px;
        height: 100px;
    }

        .divimage img {
            display: block;
            width: 100%;
        }
</style>

<h2>Index</h2>
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>#</th>
        <th>
            Ảnh tiêu đề
        </th>
        <th>
            Tiêu đề bài viết
        </th>
        <th>
            Tóm tắt bài viết
        </th>
        <th>
            Chuyên mục
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Người tạo
        <th>
            Ngày tạo
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><input type="checkbox" /></td>
            <td>
                <div class="divimage">
                    <img src="@Utitlitys.ImagePath(item.ThumbURL,(int)CMS_IMAGE_TYPE.ARTICLE_TYPE)" />
                </div>
            </td>
            <td style="width:250px">
                <a href="@Url.Action("Details", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.Raw(Server.HtmlDecode(item.Summary))
            </td>
            <td style="white-space:nowrap">
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td style="white-space:nowrap">
                @Utitlitys.StatusToString(item.Status.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @*@Utitlitys.DatetimeToVN(item.CreateAt.Value)*@
            </td>

            <td style="white-space:nowrap">
                <a href='@Url.Action("Details", "Articles",new { id = item.Id })'><img src="~/img/icons/application_view_detail.png" title="Chi tiết thông tin vận đơn" /></a> |
                <a href='@Url.Action("Edit", "Articles", new { id = item.Id })'><img src="~/img/icons/page_white_edit.png" title="Cập nhật vận đơn" /></a> |
                <a href='@Url.Action("Delete", "Articles",new { id = item.Id })'><img src="~/img/icons/bin_closed.png" title="Xóa thông tin vận đơn" /></a>
            </td>
        </tr>
    }
</table>
