﻿@model Susoft.Model.LienHe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<h2>Chi tiết liên hệ</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YourName)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Điện thoại liên hệ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Ngày gửi
        </dt>
        
        <dd>
            @Model.CreateAt
        </dd>

        <dt>
            Tin nhắn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở lại trang trước", "Index")
</p>
