﻿@model IEnumerable<Susoft.Model.LienHe>
@using Susoft.CMS.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<h2>Danh sách tin liên hệ</h2>

@*<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Tên người gửi
        </th>
        <th>
            Email
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Ngày gửi
        </th>
        <th style="width:500px">
            Tin nhắn liên hệ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @if (item.CreateAt == null)
                {
                    <span>---</span>
                }
                else
                {
                    @Utitlitys.DatetimeToVN(item.CreateAt.Value)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @*@Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |*@
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
