﻿@using Susoft.CMS.Common;
@{var lang = ViewContext.RouteData.Values["lang"] as string;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TITLE -->
    <title>Công ty cổ phần phần mềm Khởi nguồn</title>
    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
    <!-- BOOTSTRAP CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- IcoFont CSS -->
    <link href="~/css/icofont.css" rel="stylesheet">
    <!-- FontAwesome Css -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <!-- OWL CAROUSEL CSS -->
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <!-- ANIMATE CSS -->
    <link href="~/css/animate.css" rel="stylesheet">
    <!-- Mobile Menu Css -->
    <link href="~/css/meanmenu.css" rel="stylesheet">
    <!-- PrettyPhoto CSS -->
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <!-- DIRECTORY FONT -->
    <link href="~/font/stylesheet.css" rel="stylesheet">
    <!-- STYLE CSS -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE CSS -->
    <link href="~/css/responsive.css" rel="stylesheet">
    <script src="~/js/jquery.min.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div id="preloader"></div>
    <header class="header-area">
        <div style="float:right; margin-right:5px">
            @Url.LangSwitcher("/img/Vi.jpg", ViewContext.RouteData, "vi")
            @Url.LangSwitcher("/img/En.jpg", ViewContext.RouteData, "en")
            @Url.LangSwitcher("/img/Japan.jpg", ViewContext.RouteData, "ja")
        </div>
        <div class="head-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="logo">
                            @if (lang == null || lang.Contains("en"))
                            {
                                <a href="/en/home"><img src="/img/logo.png" alt=""></a>
                            }
                            else if (lang.Equals("vi"))
                            {
                                <a href="/vi/home"><img src="/img/logo.png" alt=""></a>
                            }
                            else
                            {
                                <a href="/ja/home"><img src="/img/logo.png" alt=""></a>
                            }
                        </div>
                        <!-- /.End Of Logo -->
                    </div>
                    <div class="col-sm-9 hidden-xs">
                        <div class="head-top-right fix">
                            <div class="sin-info fix">
                                <div class="info-icon">
                                    <i class="icofont icofont-social-google-map"></i>
                                </div>
                                <div class="info-content">
                                    <span>
                                        @Resources.GlobalRes.lbAddress1<br>
                                        @Resources.GlobalRes.lbAddress2
                                    </span>
                                </div>
                            </div>
                            <!-- /.End Of Seven -->
                            <div class="sin-info fix">
                                <div class="info-icon">
                                    <i class="icofont icofont-clock-time"></i>
                                </div>
                                <div class="info-content">
                                    <span>9 AM - 6 PM <br>@Resources.GlobalRes.lbTime</span>
                                </div>
                            </div>
                            <!-- /.End Of Seven -->
                            <div class="sin-info border-none fix">
                                <div class="info-icon">
                                    <i class="icofont icofont-contacts"></i>
                                </div>
                                <div class="info-content">
                                    <a href="mailto:info@company.com">info@mobileplus.vn</a>
                                    <a href="tel:+84988548912">+84988-548-912</a>
                                </div>
                            </div>
                            <!-- /.End Of Seven -->
                            <div class="sin-info border-none fix">
                                <div class="search-form fix">
                                    <form action="search.php">
                                        <input type="text" name="s" placeholder="@Resources.GlobalRes.lbSearch" id="search">
                                        <div class="input-submit">
                                            <input type="submit" value="Go">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.End Of Seven -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Of Top Head -->
        <div class="head-bottom-area">
            <div class="container">
                <div class="row">
                    @RenderSection("MainMenu", false)
                </div>
            </div>
        </div>
        <!-- End Of Bottom Head -->
    </header>
    <!-- /.End Of Header -->
    <!-- Page Title Area
     =========================== -->
    <section class="page-title fix">
        <div class="container bb-bottom">
            <div class="row">
                <div class="col-md-12">
                    @RenderSection("BreaCumb", false)
                    <!-- /.END OF BREAD CUMB -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Of Page Title Area -->
    <!-- Page Internal Content -->
    <section class="page-internal-content">
        <div class="container">
            <div class="row">
                <!-- Content Section -->
                <div class="col-md-9 main-content">
                    @RenderBody()
                </div>
                <!-- /.End Of Content Section -->
            </div>
        </div>
    </section>
    <!-- /.End Of Page Internal Content -->
    <!-- Footer Area
    =========================== -->
    <footer id="footer-area">
        <div class="footer-top section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget widget_text">
                            <div class="footer-logo">
                                <img src="/img/logo.png" alt="">
                            </div>
                            <p>@Resources.GlobalRes.lbSuSoftAssert</p>
                        </div>
                    </div>
                    @Html.Partial("_PartialFooterLink")
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget">
                            <h3 class="widget-title">@Resources.GlobalRes.Contact</h3>
                            <p>@Resources.GlobalRes.ContactSubTitle</p>
                            @if (lang == null || lang.Contains("en"))
                            {
                                <a href="~/en/contact" class="button contact-btn">@Resources.GlobalRes.Contact</a>
                            }
                            else if (lang.Equals("vi"))
                            {
                                <a href="~/vi/contact" class="button contact-btn">@Resources.GlobalRes.Contact</a>
                            }
                            else
                            {
                                <a href="~/ja/contact" class="button contact-btn">@Resources.GlobalRes.Contact</a>
                            }
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget">
                            <h3 class="widget-title">@Resources.GlobalRes.NewsletterSubscription</h3>
                            <div class="widget">
                                <div class="footer-newsletter">
                                    <div class="input-email">
                                        <input type="email" name="youremail" placeholder="@Resources.GlobalRes.YourEmail">
                                        <i class="icofont icofont-send-mail"></i>
                                    </div>
                                    <input type="submit" value="@Resources.GlobalRes.Subscribe">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom fix">
            <div class="container bb-top foo-padding">
                <div class="row">
                    <div class="col-sm-6 copyright">
                        <span>&copy; 2017 Copyright, @Resources.GlobalRes.lbCompany.</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="social-links">
                            <ul>
                                <li><a href="https://www.facebook.com/khoinguonsoftware/">Facebook</a></li>
                                <li><a href="https://twitter.com/KhoiNguonSuSoft">twitter</a></li>
                                <li><a href="https://plus.google.com/">google+</a></li>
                                <li><a href="https://www.linkedin.com/in/khoi-nguon-3927b713b/">linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.End Of Footer Area -->
    <!-- JQUERY LIBRARY -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <!-- Mobile Menu JS -->
    <script src="~/js/jquery.meanmenu.js"></script>
    <!-- Sticky Menu JS -->
    <script src="~/js/jquery.sticky.js"></script>
    <!-- WayPoints JS -->
    <script src="~/js/waypoints.min.js"></script>
    <!-- BOOTSTRAP JS -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- CounterUp JS -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- OWL CAROUSEL JS -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- PrettyPhoto JS -->
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <!-- SLICK SLIDER -->
    <script src="~/js/slick.min.js"></script>
    <!-- MAIN JS -->
    <script src="~/js/main.js"></script>
    <!-- Color Settings JS -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
