﻿@{var lang = ViewContext.RouteData.Values["lang"] as string; 
    }
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="widget widget_links fix">
        <h3 class="widget-title">@Resources.GlobalRes.lbLinkTitle</h3>

        @if (lang == null || lang.Contains("en"))
            {
            <ul class="site_map_links">
                <li><a href="/en/home">@Resources.GlobalRes.Home</a></li>
                <li><a href="/en/services">@Resources.GlobalRes.Service</a></li>
                <li><a href="/en/contact">@Resources.GlobalRes.Support</a></li>
            </ul>
                <ul class="page-links">
                    <li><a href="/en/about">@Resources.GlobalRes.About</a></li>
                    <li><a href="/en/news">@Resources.GlobalRes.New</a></li>
                    <li><a href="@Url.Content("~/Content/susoft.docx")">@Resources.GlobalRes.Profile</a></li>
                    <li><a href="/en/project">@Resources.GlobalRes.Project</a></li>
                </ul>
        }
        else if (lang.Equals("vi"))
        {
            <ul class="site_map_links">
                <li><a href="/vi/home">@Resources.GlobalRes.Home</a></li>
                <li><a href="/vi/services">@Resources.GlobalRes.Service</a></li>
                <li><a href="/vi/contact">@Resources.GlobalRes.Support</a></li>
            </ul>
                <ul class="page-links">
                    <li><a href="/vi/about">@Resources.GlobalRes.About</a></li>
                    <li><a href="/vi/news">@Resources.GlobalRes.New</a></li>
                    <li><a href="@Url.Content("~/Content/susoft.docx")">@Resources.GlobalRes.Profile</a></li>
                    <li><a href="/vi/project">@Resources.GlobalRes.Project</a></li>
                </ul>
        }
        else
        {
            <ul class="site_map_links">
                <li><a href="/ja/home">@Resources.GlobalRes.Home</a></li>
                <li><a href="/ja/services">@Resources.GlobalRes.Service</a></li>
                <li><a href="/ja/contact">@Resources.GlobalRes.Support</a></li>
            </ul>
                <ul class="page-links">
                    <li><a href="/ja/about">@Resources.GlobalRes.About</a></li>
                    <li><a href="/ja/news">@Resources.GlobalRes.New</a></li>
                    <li><a href="@Url.Content("~/Content/susoft.docx")">@Resources.GlobalRes.Profile</a></li>
                    <li><a href="/ja/project">@Resources.GlobalRes.Project</a></li>
                </ul>
        }
    </div>
</div>
